[2018-01-26 08:15] eliasp opened #1 "Unable to deal with passphrase-protected SSH keys"
It looks, like `hetzner-kube cluster create […]` is unable to deal with passphrase-protected SSH keys.

After successfully initializing all servers, the last 2 lines of output were:
[code]

Using `hetzner-kube` eb0790b

[2018-01-26 08:37] eliasp commented on #1
Just confirmed this by creating a new unprotected keypair and used this for a test-cluster, where everything worked as expected…

[2018-01-26 09:27] xetys commented on #1
thanks for the report!

I'll need to check out how to make golang.org/crypto/ssh work with passphrase connections...or if you know how to make this, you maybe could do a PR?

[2018-01-26 09:30] eliasp opened #2 "Version of `docker-ce` should be pinned to prevent incompatible upgrades"
`apt list --upgradable` on a newly created node shows:
[code]
This would upgrade `docker-ce` to `17.12.*` which is not compatible with current K8S releases.
This can be prevented by creating `/etc/apt/preferences.d/docker-ce`:
[code]

References regarding supported versions:
- [K8S 1.7](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.7.md#external-dependency-version-information)
-

[2018-01-26 10:08] eliasp commented on #2
Once the version is  pinned, the [`apt-cache`/`grep` workaround](https://gist.githubusercontent.com/xetys/0ecfa01790debb2345c0883418dcc7c4/raw/403b6cdea6b78bc5b7209acfa3dfa810dd5f89ba/ubuntu16-kubeadm) won't be needed anymore and a simple `apt install -y docker-ce` will install the correct `docker-ce` release.

[2018-01-26 14:19] xetys opened #3 "context not found after first run prevents the tool from further commands"

[2018-01-26 14:28] #3 closed

[2018-01-26 15:11] #2 closed

[2018-01-30 19:43] thetechnick opened #4 "Deploy hcloud-cloud-controller-manager"
Hi,
nice tool you have built!

To integrate the kubernetes cluster with the Hetzner Cloud API you might also want to deploy the [hcloud-cloud-controller-manger](https://github.com/hetznercloud/hcloud-cloud-controller-manager).
As you are already using `kubeadm` the deployment instructions should be easy to adapt: https://github.com/hetznercloud/hcloud-cloud-controller-manager#deployment

[2018-01-31 11:37] xetys commented on #4
hey! I've already seen this project a few days ago...I will take a look at this ASAP to integrate the cloud controller manager with hetzner-kube

[2018-01-31 15:41] xetys commented on #4
ok, I did the first try.

@thetechnick could you please review the current state? I indeed deletes the node if I delete it in the console. But I don't see any metadata on the nodes...

[2018-01-31 16:17] thetechnick commented on #4
@xetys Only 2 small issues:
1. You need to call `systemctl daemon-reload` after adding the `20-hcloud.conf` drop in file.
2. The drop in needs to be present on all nodes not only the master

After fixing those manually after cluster creation, deleting one of the nodes `kubectl delete no my-cluster-worker-01` and restarting the kubelet on the node. The node is properly initialized by the cloud-cont

[2018-01-31 18:14] xetys commented on #4
thx! It actually didn't really work with calico, so I switched to flannel

[2018-01-31 18:14] #4 closed

[2018-02-16 23:02] cice commented on #1
i was bored, so i implemented it here #8

[2018-02-18 17:56] xetys commented on #1
closed by #8

[2018-02-18 17:56] #1 closed

[2018-02-18 18:09] xetys opened #10 "Test suite + CI"
To ensure the quality of this tool over time, the existing functionality should be covered by tests.

In addition, we, therefore, need a CI integration, to achieve a better flow for upcoming PRs.

[2018-02-24 10:09] pierreozoux opened #12 "Questions"
Hello! Looks cool :) thanks for sharing!

I'm working on https://github.com/indiehosters/libre.sh/issues/161

And I have various questions :
 - why not Tectonic? (No ipxe support, right?)
 - is it HA? ( Searching quickly from mobile, didn't find)
 - how to configure flannel or weave with encryption? (Public cloud so, would be better :) )
 - do you prefer weave or flannel?
 - is it based on kubeadm

[2018-02-24 11:33] xetys commented on #12
Because tectonic is not a free product. It sure has a free plan, but even this needs a license. This would lock users into this distinct product. And the PXE stuff currently just doesn't work, as hcloud has no VLAN support right now.

Not yet, but planned to be implemented soonly.

I think this should be done over etcd like kismatic is doing that. But yeah, it's a point. Feel free to open issues a

[2018-02-24 16:52] pierreozoux commented on #12
Thanks a lot for the detailed insight!

We'll know soon about tectonic ;)

https://github.com/coreos/tectonic-forum/issues/276

[2018-02-24 16:52] #12 closed

[2018-02-24 19:42] pierreozoux opened #13 "Add failover IP script for edge-router worker nodes"
# Problem

How to achieve true HA without the help of a cloud LoadBalancer?

# Solution

There are not many solutions, the best we have in Hetzner is probably the [Failover IP](https://wiki.hetzner.de/index.php/Failover/en).

All we need for this to work would be the following:
 - tagging edge nodes `role=edge-router`
 - deploy a pod that would watch the health / readiness of these nodes
 - switch

[2018-02-24 21:00] xetys commented on #13
by using nginx ingress controller. When deployed as a DaemonSet it runs on all (specified) nodes. These you can put as multiple A-Records to a single Domain and you will get basic load balancing

If you want to use kubernetes LoadBalancer feature coupled with Hetzner Failover IP, you should implement the CloudProvider interface from Kubernetes. In other words: to build an integration. The cloud pr

[2018-02-24 21:09] pierreozoux commented on #13
Thanks for the answer.

AFAIK, A-records load balancing is not working in browser, see this [answer](https://serverfault.com/questions/349964/dns-round-robin-do-browsers-stick-to-one-ip-as-long-as-it-is-online#350420)

But I think you are right to say that the cloud controller manager should be the place to implement this feature.

[2018-02-24 21:09] #13 closed

[2018-02-24 21:33] xetys commented on #13
the answer is from 12 and since then it looks like changed a bit (check the comments of your link)

"not working" is a discussable statement. It's more accurate to say that this way of load balancing gives nearly zero control, how the balancing is happening or decide based on real loads of the nodes.
In fact, every time you do a hostname resolve, independent from which tool you do, you will get al

[2018-02-25 14:58] xetys opened #14 "HA support"
In the last 10 hours, I successfully built a true HA cluster manually.

To do this, these steps I noted down are needed to provision a full HA kubernetes:

* (Optional) deploy WireGuard for secured node networking
* Bootstrap etcd cluster on the master nodes. At least three should be used
* init first master using that cluster and extended SAN names
* distribute master PKI to other master nodes
*

[2018-02-25 15:43] pierreozoux opened #15 "Ingress"
Do you want this cluster to have a default ingress with TLS and Let's encrypt?

I think it would be a good idea to offer a default option.

I didn't manage yesterday to set it up properly (was tired, and kube-lego is no longer the recommended way, only dns method works in traefik, and I didn't manage to make it work in a reasonable amount of time.)

Here looks like a good article about how to set

[2018-02-25 15:53] pierreozoux opened #16 "Distributed Storage"
Same as Ingress, I think it would be good if we offer a default option.

Yesterday, I setup an (almost) successful cluster (without Let's encrypt), and I used rook.
It was almost straight forward, and it looks like a very viable option for the storage.
The plus are:
 - part of CNCF
 - almost in beta (0.7 is a pre-release)
 - support for:
   - Block Storage (I just tried that)
   - Object Storage

[2018-02-25 16:00] pierreozoux opened #17 "Reference design"
About the use of hardware, I plan on writing some documentations for that.
The idea would be to pick 3 nodes in Hetzner offer, and do a Reference Implementation using:
 - 3 HA masters (in hetzner cloud)
 - encrypted networking
 - 3 baremetal workers
 - rook
 - ingress with tls and le support

This would be documentation at first, but on the way to do that, I'll be able to identify potential candid

[2018-02-25 19:08] xetys commented on #15
Can you tell more about that "kube-lego is no longer recommended"...I'm using it in production and don't have any problems with that.

Generally, I was thinking of a `hetzner-kube cluster addons install|remove|list` command with the offering of different tools, such as helm or ingress.

[2018-02-25 19:09] xetys commented on #16
Don't get me wrong, I'm a big fan of rook and watching it from April last year.

I think it should be offered as an addon like mentioned in #15

[2018-02-25 19:16] pierreozoux commented on #15
About lego:
https://github.com/kubernetes/charts/tree/master/stable/kube-lego

[2018-02-25 19:18] pierreozoux opened #18 "Addons command"
Should we implement an addon command, or just work on helm charts, to make them available as helm commands?

At the end, it would be one extra line. And the helm command would be more broadly used.

[2018-02-25 19:30] xetys commented on #17
Feel free to do that and to share your experience.

I already built a reference setup (full on Hetzner cloud, as the name "reference" states) with:

* wireguard network encryption
* 3 etcd + master nodes (the "simpler" version)
* rook as reference workload storage
* some stupid pods to proof the cluster worked when I started to DDoS my primary master

I had no ingress running, as this is an easy s

[2018-02-25 19:36] xetys commented on #18
+1 for the addons command.

I wouldn't couple this too much with help as e.g. I would love to install rook from the command, and currently, the most stable way of doing this is using the pure manifests and not the chart.

Or in other words, I see a `addon helm` command to install helm with proper RBAC. I even see addon dependencies. Like "want to use `addon nginx-ingress`, it will install `addon h

[2018-02-26 12:17] #10 closed

[2018-02-26 12:32] xetys opened #19 "Add wireguard support"
To achieve a better security for node communication wireguard should be installed on all nodes

[2018-02-26 14:45] JohnnyQQQQ commented on #15
I think this is one of the most important features to have, otherwise it's not very simple to throw some traffic at the cluster if you have more than one edge-router, as one would need to setup a bunch of (ha)proxies using a floating ip to throw the traffic at the edge-routers.

[2018-02-26 16:07] #19 closed

[2018-02-26 23:54] xetys opened #20 "debug mode not working"
so it outputs stuff and does not render bars

[2018-02-26 23:55] xetys opened #21 "bad idempotency of cluster creation"
that means running it multiple times after another doesn't end up in the same state and might fail.

[2018-02-27 09:14] pierreozoux commented on #18
IMHO, if a plugin is some sort of kubernetes manifest, it should be a helm package.
Look these discussions:
 - https://github.com/kubernetes/kops/issues/2399
 - https://github.com/kubernetes/kops/issues/871
 - https://github.com/kubernetes/kops/issues/2391

If rook helm chart is not working, well, we just need to fix it :)

And if then the `addon` command is just a wrapper around helm, well, then

[2018-02-27 09:37] xetys commented on #18
I think making a wrapper around helm is a bad idea. In fact there is little to no gain for the user, use the known helm commands over hetzner-kube, if he just can `hetzner-kube cluster kubeconfig` and do it the way he want. People will more likely use helm for that.

The other point is, that we need install some software considering the circumstances of this cluster, like:

* configuring helm with

[2018-02-27 11:18] pierreozoux commented on #13
Ok, I wanted to know for sure:
[code]

Test it from your browser :)

https://ghost.indie.host

[2018-02-27 12:30] pierreozoux commented on #13
closing in favor of https://github.com/hetznercloud/hcloud-cloud-controller-manager/issues/6 then.

[2018-02-27 14:20] Baughn opened #23 "Adding SSH key fails if the key is already registered with Hetzner"
I got a 'uniqueness constraint' violation, and the key wasn't added to hetzner-kube's configuration.

In this case, it should be fine to simply continue setup.

[2018-02-27 14:21] Baughn commented on #16
At a minimum, it should be documented.

The 'full tutorial' installs OpenEBS, but doesn't mention that OpenEBS doesn't specify a default storage class by default.

[2018-02-27 15:43] #14 closed

[2018-02-27 15:50] xetys commented on #21
closed by #22

[2018-02-27 15:50] #21 closed

[2018-02-27 16:38] #18 closed

[2018-02-27 18:24] pierreozoux commented on #16
ok, the new rook option looks good to me!

I still think we would be better off using an helm chart, event with our specific configuration, but this can be discussed later, once the helm chart is fixed :) .

We can envision that based on the node tags (VMs or [BareMetal](https://github.com/hetznercloud/hcloud-cloud-controller-manager/issues/5)) the rook addon would be configured accordingly with a

[2018-02-27 18:24] #16 closed

[2018-02-27 18:35] pierreozoux commented on #17
Yes, totally understand your point of view.

thanks a lot for your hard work, I'll do my part!

[2018-02-27 19:49] Baughn commented on #15
As a novice trying to make some use of Kubernetes...

Well, I'd say this is critical. Hetzner-kube mostly works now, but although I'm able to start applications and have them run, I've yet to figure out how to get ingress working. None of the tutorials seem to cover everything needed, and the documentation is too vast--I've tried reading it, but it's difficult to know what matters and what doesn't

[2018-02-27 22:42] xetys commented on #15
## tl;dr

[code]

This will install an ingress controller in the way I always describe. As `DaemonSet`, so it runs on all nodes  (you can limit that with nodeSelector to `role=edge`) and with `hostNetwork=true` so you actually can reach the nginx pod. If you have 2 workers, you just can add those IPs as A-Record to a domain and create ingress resources as you want. For test purposes, you can add x

[2018-02-27 22:42] #15 closed

[2018-02-28 10:32] xetys opened #24 "Process hangs when --isolated-etcd is passed"
The tool actually does everything correctly but doesn't state it's done and looks mostly like a bug.

[2018-02-28 17:52] #24 closed

[2018-02-28 20:30] Baughn opened #26 "Progress bars do not fit in 80-column terminals"
This manifests as such:
[code]

Really, it would be great if much thinner terminals worked, but 80 columns at least should work.

[2018-03-01 13:16] #23 closed

[2018-03-01 15:18] JohnnyQQQQ opened #30 "Adding a worker should return a success message"
Right now when you add a worker the commands stop like this:

[code]

The worker seems to work fine after that but for most user it will be kind of scary to see the command stop at 50% and just returning to the console without any message.

We should get the bar to 100% and return a message like "Successfully created worker $workername"

[2018-03-01 15:22] JohnnyQQQQ opened #31 "Catch CX11 Limit"
I just run into an "API" Limit as Hetzner only allow you to run ten CX11 server. If you want more you need to open up a support ticket. We should catch this exception and point out with a message what to do.

Eventually we should proceed with the given servers or delete those.

[2018-03-01 16:55] Baughn opened #32 "Installation should at least install security updates"
On SSHing to a machine, I was greeted with this message:
[code]

At a minimum, these should be installed during installation.

Additionally, it would be good if unattended-upgrades (which will only install security updates) was enabled.

[2018-03-01 16:58] Baughn opened #33 "Hybrid clusters"
Still in the 'playing around' mode. One thing I'd like to do is build a cluster backed mostly by my own (already paid-for, fairly hefty) hardware, but with the possibility of adding worker nodes running on Hetzner on-demand.

The best way to do this, I think, would be a Kubernetes daemon that watches for overall load, creating new worker nodes when it reaches some threshold. It would make sense to

[2018-03-01 16:58] Baughn opened #34 "Removing workers"
In relation to #33, it would be useful if worker nodes could be *removed* from a cluster.

After first draining them, of course.

[2018-03-01 17:44] SallySwartz commented on #33
I think it is out of scope of the project, what you are ooking for is an autoscaler if I understood well your question.

Look at this for instance:
https://github.com/kubernetes/charts/tree/master/stable/aws-cluster-autoscaler

We could imagine the same for hetzner.

[2018-03-01 17:59] SallySwartz opened #35 "Rook install failing the first time, succeed the second"
[code]

Looks like we need to wait a bit, when I install it the second time, it works.

[2018-03-01 18:16] xetys commented on #33
Two thoughts on that:

1. Indeed, this project contains already some general kubernetes context which is interesting for kubernetes cluster in general. Technically this tool list tightly coupled with the hetzner API. But even that is just for the beginning part. After that the only thing needed is there IP of the server for SSH.
I'm already thinking of some kind of refactoring, to make the actual

[2018-03-01 18:20] xetys commented on #35
I think waiting for the crd becoming available is a better way. I'm doing something similar when waiting for the API server during SetupHA()

[2018-03-01 19:16] JohnnyQQQQ commented on #34
For now you could use [cloud init](http://cloudinit.readthedocs.io/en/latest/topics/examples.html#additional-apt-configuration) to achieve this

[2018-03-01 19:26] xetys commented on #34
I don't get, how this relates to cloud init. Anyway you can delete the
nodes in hetzner console, and thanks to the integrated cloud controller
manager kubernetes automatically removes that node from cluster.

But yeah, a command would be possibly better for that

Jean-Philippe Quéméner <notifications@github.com> schrieb am Do., 1. März
2018, 20:17:

[2018-03-01 19:33] JohnnyQQQQ commented on #32
For now you could use [cloud init](http://cloudinit.readthedocs.io/en/latest/topics/examples.html#additional-apt-configuration) to achieve this

[2018-03-01 21:11] mcadam commented on #33
I would also be interested to connect current machines to a new cluster created on Hetzner. I think the road to provide an ip and a ssh key to make the connection and then apply the same scripts as the Hetzner worker ones would be nice and generic enough.

[2018-03-01 21:26] mcadam opened #36 "Firewall security"
Hi, it would be nice to add some extra security and enable the firewall (ufw) in ubuntu.

We will need some extra configuration to allow for access to Kubernetes api and other service you need to expose but easily we could add those in the provisioning script no?

[2018-03-01 21:46] xetys commented on #36
yes of course. Do you want to make a PR for that?

[2018-03-01 22:16] mcadam commented on #36
Yep let me try and create a PR if I can find some time in the next couple days.

[2018-03-02 00:12] xetys commented on #33
[code]

Here it is, my Falkenstein-Nurenberg-London hybrid cluster.

The PR #37 adds the option of adding any external worker node to your cluster, including wireguard handling and so on. But...

**Attention**: At the moment the hcloud-controller-manager does not recognize the new node as a listed one inside kubernetes and schedules a delete right after node-join (https://github.com/hetznercloud/h

[2018-03-02 00:41] #30 closed

[2018-03-02 11:08] Baughn commented on #34
Yes, my request here is really to have a command that will drain a node, wait until the drain is complete and then delete the machine.

It isn't difficult to do that by hand, but it's something most people will end up needing. Maybe I'll have a stab at implementing it myself.

[2018-03-02 15:44] dmahlow opened #38 "PR #37 seems to introduce a regression that breaks wireguard installation"
Installation with current master:
[code]

systemd log from the worker:
[code]

On the master, `systemctl enable wg-quick@wg0 && systemctl restart wg-quick@wg0` cannot be executed.

Looking at the config files on worker (`/etc/wireguard/wg0`) and master (`/etc/wireguard`), it looks like neither `PrivateKey` nor `PublicKey` are set.

[2018-03-02 18:04] mcadam commented on #33
Hi, I am currently trying to not add the flag "external" on the nodes that are external when we provision the node, will have a PR soon after I test it

[2018-03-02 18:51] mcadam commented on #33
Just pushed a PR even though cant test at the moment see #40

[2018-03-03 04:07] julienmarie commented on #38
I get this error even after downgrading to 0.21 and 0.20

[2018-03-03 11:08] mcadam commented on #38
Just pushed a quick fix in my PR #40, you can use my branch as a quick fix while waiting for @xetys maybe to come up with a better fix than mine :)

[2018-03-03 11:09] mcadam commented on #38
Or just adding this https://github.com/xetys/hetzner-kube/pull/40/commits/300e04ef3eb4a030fd8b9037b5d585ff9ca05ee1#diff-69296e960e0cee640864ddc03d0d562aR91 should fix in your banches

[2018-03-03 12:20] #38 closed

[2018-03-03 12:20] xetys commented on #38
tested manually. Sry for that little break

[2018-03-03 17:47] JohnnyQQQQ opened #41 "Addon command will always fail when using a passphrase"
As the `addon` command mostly executes commands on the nodes, if a passphrase is used for the ssh-key the command will fail with this error, as the internal map holding the passphrases is not populated.

[code]

[2018-03-03 19:30] #41 closed

[2018-03-03 22:27] xetys commented on #17
Hey,

as of #42 and addon support, it's possible to build your reference design in pure hetzner-cloud. With #37 and pending #40 you will be able to add any other server, say a hetzner dedicated server to the cluster. So I think I can close this.

[2018-03-03 22:27] #17 closed

[2018-03-03 22:30] xetys commented on #31
Currently, it passes the API error to the terminal and fails. I find the message almost clear, so I don't know if we need further explanation. But feel free to do a PR :smile:

[2018-03-04 11:44] wiemann opened #46 "installing cert-manager fails due to permission issue"
`hetzner-kube cluster addon install  --name test cert-manager` fails with:

[code]

[2018-03-04 15:46] xetys opened #47 "Code structure redesign"
Currently, this project has a code coverage of ~11% and the working parts are coupled tight to each other. This also makes testing hard. As this is my first golang project, it's hopefully ok that I started in this state. But I think now is the time to make it better. For the next minor version, I see a huge improvement on the code quality by:

- [x] move the core part of provisioning the cluster (

[2018-03-04 16:41] JohnnyQQQQ commented on #47
I would also suggest to setup Codeclimate for the project so we can track the technial dept sitting around. If you want I can make a PR for the setup.

[2018-03-04 16:50] xetys commented on #47
The same for godep...we should fix the versions of the libraries we use to avoid breaking builds because of incompatible vendor stuff.

I would really appreciate a PR for Codeclimate :+1:

[2018-03-04 17:51] JohnnyQQQQ commented on #47
I opened one PR regarding both points. We should also take into consideration to checkin the vendor directory.

https://github.com/golang/dep/blob/master/docs/FAQ.md#should-i-commit-my-vendor-directory

[2018-03-04 18:29] Baughn commented on #26
Unfortunately, this is still a problem with the initial node creation progress bars.

[2018-03-05 07:29] wiemann opened #53 "nginx ingress not routing traffic to service"
I installed ninx-ingress via helm
`helm install --name ingress --set rbac.create=true,controller.kind=DaemonSet,controller.service.type=ClusterIP stable/nginx-ingress`
 but it does not route traffic to the service. Any need to configure external Ips on the hetzner-kube setup?

[2018-03-05 07:40] wiemann commented on #53
using the `cluster addon` recipie works

[2018-03-05 07:40] #53 closed

[2018-03-05 16:26] JohnnyQQQQ opened #54 "Add kube-prometheus addon"
I just tried to monitor my cluster using prometheus and failed as kubernetes doesn't export any metrics. We should create an addon that adds an endpoint to the cluster.

[2018-03-05 16:36] pierreozoux commented on #54
In this case, I'd advise using prometheus operator :)

it feels soo native!

[2018-03-05 17:10] JohnnyQQQQ commented on #54
Good catch, I will give it a try!

[2018-03-05 22:27] JohnnyQQQQ commented on #54
I changed the scope of the issue:

- [ ] Setup prometheus-operator
- [ ] Setup kube-prometheus

[2018-03-05 23:59] hojerst opened #57 "Support for ed25519 ssh keys"
When trying to create a cluster with a ED25519 SSH key, the command fails with an error:

    parse key failed:ssh: cannot decode encrypted private keysparse key failed:ssh: cannot decode encrypted private keysparse key failed:ssh: cannot decode encrypted private keys2018/03/06 00:54:28 parse key failed:ssh: cannot decode encrypted private keys

Is it possible to support non-rsa keys?

[2018-03-06 09:48] xetys commented on #46
Should be resolved by #45

[2018-03-06 09:48] #46 closed

[2018-03-06 10:06] JohnnyQQQQ commented on #53
@wiemann `controller.hostNetwork=true` was missing in your set statement

[2018-03-06 15:21] wiemann opened #58 "feature request: add support for floating ips"
Add support to bind "floating ips" to specific nodes (worker/master) to have a "static ip" in case the instance reboots and gets assigned a new ip.

[2018-03-06 16:06] pierreozoux commented on #58
duplicate of https://github.com/xetys/hetzner-kube/issues/13

[2018-03-06 21:57] xetys commented on #58
not exactly. I think that's because of mixing "failover IPs" and "floating IPs". The first issue was about failover IP. But I feel you really mean a floating IP, controlled by some script or stuff in k8s, what assigns floating IP to specific servers. The answer in https://github.com/hetznercloud/hcloud-cloud-controller-manager/issues/6 stated, that you cannot assign Hetzners existing failover IPs

[2018-03-07 07:48] eliasp opened #59 "RFE: add 'list' subcommand for 'addon'"
Right now, one has to either guess or inspect the sourcecode to get the list/names of available addons.

It would be nice to simply run:
[code]
…to get a list of available addons, e.g. like this:
[code]

[2018-03-07 09:46] JohnnyQQQQ commented on #58
It's not, you need to configure it on your host, would be too easy otherwise :smile:

[2018-03-07 09:51] xetys commented on #58
yeah, it was a poor guess. I would prefer the keepalived solution anyway.

[2018-03-07 09:54] xetys commented on #59
good hint. We need some idea to make it part of the `ClusterAddon` interface, so every addon can provide these infos by itself.

[2018-03-07 10:21] JohnnyQQQQ opened #60 "Add repository to codeclimate.com"
As we now have a codeclimate config, we should setup the repository to http://codeclimate.com so the checks will run on every PR.

[2018-03-07 10:37] xetys commented on #60
https://codeclimate.com/github/xetys/hetzner-kube already done ;)

[2018-03-07 10:38] #60 closed

[2018-03-07 12:40] pierreozoux commented on #17
Ok, I just managed to delete a worker node and recover the cluster \o/
It was with downtime, but still happy!

For reference, you need to change this line to 2 :)
https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/rook-storageclass.yaml#L8

[2018-03-07 14:00] JohnnyQQQQ commented on #58
I think this a quite an important feature, as for now the cluster isn't really HA, as you can't control it from the outside when the master-node dies that is configured in the kubectl config or am I missing a part?

It would also solve the single point of failure with ingress for people that don't want to use dns loadbalancing/failover.

[2018-03-07 15:25] xetys commented on #58
That's a bit "fifty-fifty". If you install k8s with HA mode enabled, all the master nodes are client-based load balanced. This means, if the major master fails, the cluster itself is still running, and this matters more or the HA experience, than if you have remote access with kubectl. I verified this feature before merging it.

On the other side, currently, the kubeconfig is generated with the fi

[2018-03-07 15:30] JohnnyQQQQ commented on #58
Valid points. I think we should start with a concept on how we can integrate floating IPs in general. Then we can take a look at the different use cases, but ingress is very neat indeed.

[2018-03-07 16:31] xetys commented on #17
could you explain more detailed, what you mean by recover the cluster? What happened after removing the node and what did you do to recover it?

[2018-03-07 17:33] pierreozoux commented on #17
Once you delete one worker node (I had 3), it is unhealthy, and the pods will not manage to remount the volume.
I thought it would, but it doesn't, I need to investigate more, and maybe open an issue with rook.

Then, when I re-add a node, it get healthier, but still no luck. I realized there was one more OSD that rook/ceph created, I deleted it, and after some minutes, it recovered.

But yeah, it

[2018-03-07 18:05] xetys commented on #17
wow, that's cool!

[2018-03-07 18:07] xetys opened #62 "install rook with 3 replicas default"
from the comment in #17

I forgot that for the very most storage cloud solution you need to replicate to 3, to ensure real failover behavior...

this is already did for OpenEBS, but not rook.

[2018-03-08 23:29] Baughn commented on #62
Please define "need".

Are you saying that if there are two replicas, and one fails, the filesystem will stop working?

[2018-03-08 23:32] Baughn opened #63 "Ceph requires a kernel >= 4.7 to be fully functional"
See https://github.com/rook/rook/issues/1044

This should have been fixed, so perhaps we're installing a too-old version of Ceph/Rook, but in any case I was unable to mount a filesystem using rook-toolbox without first upgrading the kernel.

Upgrading to linux-image-virtual-hwe-16.04 / linux-headers-virtual-hwe-16.04 fixes it, but putting that (and the necessary reboot) in cloud-init makes cluster

[2018-03-09 10:55] Baughn opened #64 "Ingress controller shouldn't be in namespace 'default'"
What it says, really...

[2018-03-09 11:21] #64 closed

[2018-03-10 13:13] lakano opened #66 "How to use CX51 VPS plan for workers please?"
Hi,
Thanks for this great tool and your articles!
We've tried a default HA installation ( 4 CX11 servers, 3 masters/etcd and 1 worker ) and we would like to known how to switch worker to CX51 plan please.

1) Can we use the Hetzner dashboard to upgrade the worker node CX11 to CX51?

2) And how can we add other workers nodes directly in CX51 please?
EDIT: Solved => cluster add-worker --worker-serve

[2018-03-10 13:32] JohnnyQQQQ commented on #66
You can rescale the servers in the Hetzner dashboard.

[2018-03-10 13:38] #66 closed

[2018-03-10 14:12] lakano commented on #17
@pierreozoux Thanks for your experiments, I'm following your tests reports :)

[2018-03-10 14:26] lakano opened #67 "Rook error"
Hi!

I have just created a cluster and when I'm trying to add the addon rook, I get this error:
[code]
Here is the list of command used before:
[code]
Thanks for your advices!

[2018-03-10 14:33] JohnnyQQQQ commented on #67
I think it's a duplicate of #35

[2018-03-10 14:35] lakano commented on #67
You're right! Thanks  @JohnnyQQQQ

[2018-03-10 14:35] #67 closed

[2018-03-10 15:26] lakano opened #68 "[question] SSL certs management and DNS configuration"
Hi,
Thanks again for this amazing project, just created a new cluster in few minutes, it's magic!
I installed addons helm, rook, ingress and cert-manager, but I don't really known how to deal with SSL certs.

1) What I need to do to issue a new cert please?
2) I've created a HA cluster ( 3 master, etcd included, kubernetes control self-hosted ). Which master IP address I need to use in my registra

[2018-03-10 15:47] xetys commented on #68
Hey, thanks for the feedback.

About 1. Please take a look at the conversation in #45. There are links to resources, which describe how to either use the kube-lego style or the new way by using crd.

About 2., At the moment you should use the IP of the first master. That's because the other IPS are not setup for the other master nodes. If they would be added there, you could easily balance over th

[2018-03-10 16:43] lakano commented on #68
I put the links here for the record (not yet tested) :
https://github.com/jetstack/cert-manager/tree/master/docs/api-types/issuer
https://github.com/jetstack/cert-manager/blob/master/docs/user-guides/ingress-shim.md

[2018-03-10 17:12] Baughn opened #69 "Scheduling priorities & self-hosted kubernetes"
Here's a problem: What happens if, for whatever reason, kube-dns gets descheduled due to overall lack of CPU?

If your answer is "everything breaks", you'd be right. :)

There's a solution hinted at in https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/, namely enabling priorities and marking all the kube-system pods as critical, *especially* the ones required for the cluste

[2018-03-10 17:22] Baughn opened #70 "Misc. SSH enhancements"
Some things we could add to make management easier...

- [ ] A command to list the nodes in a cluster. `hetzner-kube cluster list` only lists the IP of the master node; I'm looking for `hetzner-kube cluster get`.
- [ ] On which note, a redesign of the CLI to match Kubernetes conventions? This might be a lot of work, though.
- [ ] A command to SSH to a particular node, taking care of the SSH key in

[2018-03-10 17:54] pierreozoux commented on #70
For the first one, once we have possibility to configure locally kubectl, why not just using`kubectl get no` ?

[2018-03-10 18:00] pierreozoux commented on #69
Where and how is it scheduled, I don't see it in the code?

Indeed, `kube-dns` is a tricky part, I had some troubles in production with already (mainly latency...).
For instance, openSHift does special tricks, they configure kube-dns as deamon-set and configure the pods to use local dns. we could make sure it has the right priority, and is replicated.

But I'd say, let's not over engineer it, let'

[2018-03-10 23:38] KrustyHack opened #71 "Don't replace kubeconfig when doing "hetzner-kube cluster kubeconfig""
Ay,

I did the command `hetzner-kube cluster kubeconfig --name demo` and my ~/.kube/config was totally replaced with the hetzner kube cluster. All my other clusters config were erased.

I'm using version "0.2.1".

[2018-03-11 04:13] Baughn commented on #69
Then, from my beginner's perspective:

While doing something totally unrelated, and presumably due to rolling machine reboots, I had every instance of kube-dns de-schedule. Subsequently the cluster seemed unrecoverable, or at least would have been difficult enough to recover that I decided I might as well delete and rebuild it, since I didn't have anything important there yet.

I really think thes

[2018-03-11 07:38] pierreozoux commented on #69
As recommended here:

https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/kube-dns.yaml.sed

We could scale this to 2 replicas,
and add autoscaling, this would be a same default I think.

[2018-03-11 07:40] pierreozoux commented on #71
Looking at the code, it must have been backed up. Can you check if it is backed up?

But still agree that the UX should be a bit more polite ;)

[2018-03-11 10:56] xetys commented on #71
Hey. Use the `--print` or `-p` flag to print the kubeconfig rather than install it (`hetzner-kube cluster kubeconfig -n mycluster -p`). Then you just can do `kubectl --kubeconfig=./cluster.conf`.

For my own clusters I'm using my tool https://github.com/xetys/kubeconfig-loader which does very easy rotation of kubeconfigs.

What I would suggest is to add an "do you want to override the existing con

[2018-03-11 17:34] xetys commented on #63
What do you mean by cluster create fails after kernel update and reboot. Are there any other approachs to handle this accurate?

[2018-03-11 19:22] Baughn commented on #63
I need a newer kernel than the image comes with in order to mount Ceph filesystems, which means the machine needs to be rebooted... but putting a reboot command in cloud-init causes cluster creation to fail, reasonably enough.

The workaround is to put just the install command there, then manually reboot the cluster afterwards. That's inconvenient, though.

[2018-03-11 21:31] xetys commented on #63
so, I think if this is the only way, we should consider performing the kernel upgrade when rook is installed the first time and when the matched kernel version is lower than 4.7. This would mean, install kernel, reboot nodes and wait for them to be able to connect and then run the current install steps.

I think someone should do this after #47 is resolved. I've already started the work on this

[2018-03-11 21:32] xetys commented on #71
had missed to ad the `> cluster.conf` in my recent comment

[2018-03-11 22:05] Baughn commented on #63
In principle the kernel upgrade shouldn't be needed. I'm not sure why it is.

[2018-03-12 07:07] pierreozoux commented on #63
Also, we'll need an upgrade command (for k8s and underlying OS).
Once we have this command, this issue would be solved somehow.
The only remaining question is should we perform the upgrade before the install.

As a side note, on Ubuntu to leverage the livepatch feature to avoid rebooting after kernel update, you need an Enterprise subscription...

[2018-03-12 14:45] orhanhenrik opened #72 "Fail before creating cluster if ssh passphrase is incorrect"
Ideally the cluster creation should fail before creating the cluster if you typed the ssh passphrase wrong or handle the error differently.
[code]

[2018-03-16 19:44] lakano opened #77 "How to expose a non-HTTP TCP port with Ingress please?"
Hello!

Ingress seems to support only HTTP/HTTPS protocols ( https://github.com/kubernetes/kubernetes/issues/23291 ), and we need to expose the TCP port 3306 ( MySQL ), and restricted to an white listed IP addresses.

Do you have any solution compatible with your hetzner-kube please?

[2018-03-16 19:50] JohnnyQQQQ commented on #77
What is your usecase? Perhaps there is another solution for your problem.

Anyway this has nothing to do with hetzner-kube, it's about which ingress implementation you are using etc.

[2018-03-16 20:04] lakano commented on #77
My client use the certified cash software named Pointex to manage his physical shop. He also have a PrestaShop online but as Pointex and Prestashop aren't yet connected, the online stock need to be manually updated. Pointex permit to directly update PrestaShop DB stock but of course it's require to have a connection on the TCP port 3306, we also want to secure it by restricting the access to the I

[2018-03-16 20:12] JohnnyQQQQ commented on #77
The clean approach would be to deploy a (micro)service that can update the stock using a RESTful interface. There you could also restrict the access etc.

If a direct mysql connection is the only possible approach I would deploy a service using a `NodePort`. It's not recommended but it seems the only way for now.

https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport

Bloc

[2018-03-16 20:15] lakano commented on #77
Yep I totally agree with you, but Pointex doesn't support this kind of solution.
Thanks for the link, I'll check right now!
Regards,

[2018-03-16 20:15] #77 closed

[2018-03-17 01:27] lakano opened #78 "Support options arguments for the Helm addon please"
Hi!

Helm have recently added a better support for Secrets, but this require to install Helm like this:

`helm init --override 'spec.template.spec.containers[0].command'='{/tiller,--storage=secret}'`

Is it possible to permit to add extra parameters or to include this by default please?

[2018-03-17 08:19] pierreozoux commented on #77
Yes, ingress is made for l7 load balancing.

For that create a service, with NodePort.
But then, yes, I'd strongly encourage to have firewall that limit per IP and also TLS and client cert auth to be extra safe!

[2018-03-17 08:37] lakano commented on #77
Thanks @pierreozoux  ! :)

[2018-03-17 08:57] lakano opened #79 "Support options arguments for the Ingress addon please"
Hi,

Like for request #78, if we could extend the support to all hetzner-kube addons this could be useful.
After some searches to do port forwarding ( #77 ), I've found that Ingress controller recently support TCP/UDP ports forwarding ( https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/exposing-tcp-udp-services.md )

But this require to use the option parameter «  --tcp-servi

[2018-03-17 08:58] lakano commented on #77
just for the record, there is finally TCP/UDP port forwarding support in Ingress, but this require some extra-parameters, check #79

[2018-03-17 21:46] lilvinz opened #80 "dns issue?: heapster can't resolve node hostnames"
I installed kubernetes-dashboard and metrics-server to get node stats. Heapster fails at resolving the worker nodes:
[code]
My understanding of kubernetes is limited and some hours of google searching didn't reveal the root cause.

Maybe this issue is related to the setup of the cluster.

[2018-03-18 13:49] lakano opened #81 "Support extra kubeadm init parameters"
Hi !
Is it possible to permit to support extra parameters when installing the cluster please?
For example, we would like to use CoreDNS ( will be the default in k8s v1.11 ) and we can use it manually by default since k8s 1.9 like this:
kubeadm init --feature-gates=CoreDNS=true

I suppose it's not the only case where this could be useful to give extra parameters to kubeadm.
Thanks!

[2018-03-18 15:57] lilvinz commented on #80
It seems that heapster queries the nodeinfo and looks for Addresses.InternalIP which is not set in my cluster.

https://github.com/kubernetes-incubator/metrics-server/blob/master/metrics/sources/summary/summary.go#L402

[2018-03-18 16:55] lilvinz commented on #80
I cannot figure out when kubelet sets InternalIP for a node. This is whats missing and makes heapster upset. Adding --node-ip=a.b.c.d to 10-kubeadm.conf doesn't seem to help either.

[2018-03-18 17:01] xetys commented on #80
Could you please describe your setup?

[2018-03-18 17:09] xetys commented on #81
I'm not sure if we should enable this in a totally free way, like giving the option to pass all arguments. The reason here is the intention of hetzner-kube beeing a hetznercloud specific tool, which installs k8s as we know it runs well on it. Adding this level of freedom will cause a lot of new issues. I would prefer to add specific features over a flag, configuring it properly in the tool, rather

[2018-03-18 17:10] lakano commented on #81
Ok I understood. So I close this issue and I'll do a manual upgrade to apply CoreDNS.

[2018-03-18 17:10] #81 closed

[2018-03-18 17:15] xetys commented on #81
possibly a case for `hetzner-kube cluster create <...> --core-dns`?

[2018-03-18 17:15] xetys commented on #81
or ship coredns as an add-on

[2018-03-18 17:18] lakano commented on #81
I don't known if it's useful, because we can manually upgrade to CoreDNS, and this will be shipped in next k8s release.

[2018-03-18 17:42] lakano commented on #58
@xetys I would like to use this feature when it's ready, but until then, I'll buy a floating IP right now, update configuration on each master, and update our DNS with this floating IP.
Is your feature will be able to use an floating IP already created please?

[2018-03-18 18:58] lakano opened #82 "Upgrade to CoreDNS failed"
Hi !

I would like to upgrade the HA cluster to switch to CoreDNS but it's failed. I don't known if it's related to the HA configuration used by Hetzner-Kube or if I need to report this issue to CoreDNS repository?

Thanks for your help!

[code]
[code]

The error was the same on the master-02, but when I tried on master-03, this have worked. So I've retry on master-02 and this have worked too, but

[2018-03-18 22:38] lilvinz commented on #80
Update: adding --node-ip=a.b.c.d (internal ip) does work but it seems to break the hcloud controller.

[2018-03-21 20:43] JohnnyQQQQ commented on #58
I did a few tests with keepalived, works really good.

Here is my failover script:
[code]
Only new dependency is `jq`, you can get it by calling `àpt install jq`. I will try to wrap it up for hetzner-kube.

[2018-03-22 16:22] quorak opened #83 "can we also add kubernetes-dashboard as addon"
I think this would be of great value, to get a quick overview over the newly created cluster.

[2018-03-22 19:20] lakano opened #84 "[ rook addon ] no persistent volumes available for this claim and no storage class is set"
Hi !

I'm trying to deploy my first Helm Chart on the HA cluster installed with this script. I've enable the rook addon ( require 2 times to install correctly as mentioned in another ticket ), but a call to « kubectl -n kube-system get storageClasses » confirm it's correctly installed and set as default storage.

On « kubectl get events --sort-by='{.lastTimestamp}' » I can see the exact error: Fai

[2018-03-22 20:01] pierreozoux commented on #84
Could you give the output of describe for PV and PVC?

[2018-03-22 21:15] quorak commented on #84
I had a similar issue with default openebs installation. The default storageclass was not set.
I could fix it by:
[code]
see: https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/

[2018-03-22 22:40] #71 closed

[2018-03-23 08:49] lakano commented on #84
@pierreozoux The describe of pv,pvc is empty under namespace kube-sytem and there is a pvc under the default namespace in Pending named pioneering-guppy-docker-registry (but this seems related to docker-registry addon installed on the same time and not yet used)
BTW, do this mean the rook-block class need to be set as default each time for each namespace? Because for my own chart I have created a

[2018-03-23 08:59] lakano commented on #84
Ok, I've just found an interesting point, this seems related to the namespace.
In the default namespace, by setting "rook-block", this works.
But if I set storageClass = "", still in the default namespace, this doesn't works ( no persistent volumes available for this claim and no storage class is set ).

[2018-03-23 09:45] pierreozoux commented on #84
what if you don't set storage class at all?

[2018-03-23 09:49] lakano commented on #84
@pierreozoux Same error, if set to empty string or if I remove the annotation line :(

[2018-03-23 09:53] lakano commented on #84
May be the rook addon installation need to specify the authorization to be used on every namespaces?

[2018-03-23 10:24] lakano commented on #84
Just figured out I've used a old annotation way ( metadata.annotations.volume.beta.kubernetes ). I've re-tested all cases with the correct way ( spec.storageClassName ), but this still doesn't works ( same error ).
More strange, in the stable way, in default namespace with "rook-block" this doesn't works anymore.

[2018-03-23 10:46] lakano commented on #84
I would try to uninstall rook to re-install it but this give me this error:
[code]
So, even if the « get storageclass » show me « rook-block (default) », may be there is a missing piece of rook somewhere ( "replicapool not found" ) ?

[2018-03-23 10:48] pierreozoux commented on #84
Yes, sometimes, I noticed that if you change config in rook, the better is to just recreate the cluster.
Try with a branc new cluster, I'm sure it will work.

[2018-03-23 10:50] lakano commented on #84
@pierreozoux Ok, cluster deleted, now re-creating... thanks

[2018-03-23 11:53] lakano commented on #84
Fixed after cluster re-creation!
Thanks for your help! :)

[2018-03-23 11:53] #84 closed

[2018-03-23 13:36] lakano opened #85 "insuffisient cpu/memory"
Hello!

I don't found any limits / quotas on new namespace created, but I have some insufficient cpu/memory when deploying a big stack.

I'm using 3x cx51 plan ( 32GB RAM / 8 CPUs ) and my helm chart dispatch on less than 96GB / 24 CPUs ( ~ 94GB / 22 CPUs ).

Is the default installation add some limits/restrictions somewhere please?

[2018-03-23 16:02] JohnnyQQQQ commented on #85
I'm not sure what your setup is (ha, isolated etcd,...) but 2 GB Memory and 2 CPUs is probably not enough to run Kubernetes.

[2018-03-23 16:05] lakano commented on #85
I'll try to reduce a little bit, but there is already 6GB / 6 cores for running kubernetes on the 3 masters nodes + 2 GB / 2 cores from the workers nodes.

[2018-03-23 17:30] lakano commented on #85
I set disable some resources requests and this works now, thanks!

[2018-03-23 17:30] #85 closed

[2018-03-23 19:57] xetys commented on #85
please note that disabling resource requests cannot prevent disasters in prod when you physically run out of resources. I ran in this issue a few months ago and finally realized removing these requests is a bad idea.

[2018-03-24 12:31] lakano commented on #85
For the record, after some debug/tests, this seems to require 0.5 cpu + 1.5 GB per worker for k8s stuff.
I've tested on one cx51 server ( 32 GB / 8 cores ) mutliple cpu/memory values and this works from 30.5 GB / 7.5 cpus

[2018-03-24 18:32] JohnnyQQQQ opened #86 "cluster creation broken"
The current master branch seems to be broken.

The command

[code]
Results in this state

[code]

On the worker I inspected the syslogs and could find this

[code]

[2018-03-25 06:54] suquant commented on #86
+1

[2018-03-25 12:44] xetys commented on #86
Thx for the report. I'll try this out and see what's broken

[2018-03-25 12:46] xetys commented on #83
Unfortunately this is a hard piece. I did a production setup last week and spent hours of making it work with let's encrypt certificates...

[2018-03-25 12:48] xetys commented on #82
Hey. This seems like an issue which occurred after a customization by yourself. Do updates of kubernetes work with the current setup? If yes, than it's not a hetzner-kube issue

[2018-03-25 15:01] suquant commented on #86
@xetys I think there is some problems with **Manager.nodes**, on the wireguard installation stage there is not newly created node(s)!

Logs:
2018/03/25 13:08:09 creating server 'ops-worker-07'...
  --- [====================================================================] 100%
2018/03/25 13:08:26 Created node 'ops-worker-07' with IP xxx.xxx.xxx.xxx
2018/03/25 13:08:26 sleep for 30s...
ops-master-0

[2018-03-25 22:44] xetys commented on #72
this one is closed by #75

[2018-03-25 22:44] #72 closed

[2018-03-26 08:46] radutopala commented on #83
Maybe these below will help some. I'm sure these can be automated, as in `minikube`, without the need of fully installing `cert-manager` etc.

Managed to install and get into the dashboard using the following.

I am storing the kube config in a `config` file in the local folder, therefore all `kubectl` run with `--kubeconfig config`.

A. install
[code]
B. confirm install
[code]
C. create `admin-us

[2018-03-26 09:07] lakano commented on #82
Yep you're right, I've enabled CoreDNS by default ( this will be the default in the next version of k8s and I'm not sure there is a « upgrade » system in your script that will permit to easily switch later ).
I'll try to solve it by myself so.

[2018-03-26 09:07] #82 closed

[2018-03-26 14:45] xetys commented on #62
sry for the delay.

the basic fault tolerance is if N/2 nodes are working. With 2 replicas there is a high risk of data lost of unavailability. With OpenEBS you cannot write to a disk if only 1 of 2 is up.

As of rook, my latest number from a ceph expert was "at least 4 replicas to get sure no data gets lost".
So 2 is definitely to low. You have always keep in mind that most people don't think abo

[2018-03-26 14:46] xetys commented on #54
@JohnnyQQQQ I did ha manual installation. It's a hard one, but I got it working. Ping me if you need help with this

[2018-03-26 14:59] JohnnyQQQQ commented on #54
I got a running version. Right now I try to figure out how I can monitor etcd, kube-scheduler and kube-controller. Do you have one of those up and running?

[2018-03-26 15:16] xetys commented on #54
yes, everything but etcd, as I use it in HA and etcd is not a workload of k8s.

[2018-03-26 21:20] JohnnyQQQQ commented on #54
Okay, did you take any special step to get the kube-scheduler and kube-controller metrics running? Somehow I don't get any targets.

[2018-03-27 09:08] pierreozoux commented on #54
FYI, I'll work on helping to have an official helm chart for prometheus operator, if you want to help also, feel free!

https://github.com/coreos/prometheus-operator/issues/1154

[2018-03-30 11:21] kabudu opened #87 "Cluster upgrades - any consideration?"
This is a fantastic tool that you've put together. :) I would like to know if any consideration has been given to cluster upgrades in hetzner-kube. i.e. A new version of Kubernetes has been released and needs to be rolled out to the master node and workers.

Having used GKE for a while, from what I understand of the process for worker nodes is: a) new nodes are spun up, b) workloads drained from e

[2018-03-30 11:26] kabudu opened #88 "Support for different OS images"
Having looked at the documentation, videos etc., I have seen Ubuntu mentioned alot in relation to the OS images for the cluster nodes. Does hetzner-kube support spinning up Hetzner Cloud servers using other OS images provided by Hetzner? e.g. the CentOS image

[2018-03-30 22:55] xetys commented on #54
@JohnnyQQQQ yes, use this documentation https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/docs/kube-prometheus-on-kubeadm.md

here you even can install everything as needed after the cluster installation. Then use the minikube-deploy script and it runs.

[2018-03-30 23:09] JohnnyQQQQ commented on #54
Ah okay, I used self-hosted. Perhaps this was the problem. I will try it as soon as I have some free time.

[2018-03-30 23:17] xetys commented on #54
This actually, cannot be the problem. Yes, there is a self-hosted flag, but it's not implemented, yet.

Maybe I should add this option :laughing:

[2018-03-31 09:11] pierreozoux commented on #88
@kabudu for instance, kops decided to use debian images.
I think it would be really difficult to support another base image.

[2018-03-31 09:57] kabudu commented on #88
@pierreozoux Fair enough I guess. It's certainly not a showstopper, I just personally prefer working with CentOS, but I can live with a debian based OS.

[2018-03-31 09:57] #88 closed

[2018-04-02 00:36] #35 closed

[2018-04-03 21:48] xetys commented on #87
I made a look on the docs at this topic and figured out that kubeadm currently [doesn't support upgrading HA clusters with external etcd](https://github.com/kubernetes/kubeadm/issues/727)...

in this case, an upgrade should be either performed manually (by hetzner-kube, but doing own upgrade logic) or to wait until this gets resolved at kubeadm. The first could be done earlier, but means a lot of

[2018-04-04 14:17] john-dev commented on #58
Hello,

just an idea for a workaround until Hetzner provides failover-target's for floating ip's (requires docker swarm).
I am using hetzner cloud to build a X-manager-based docker swarm (currently 3 managers).
I created a service that scales to only one 1 server which is updating the floating IP using the Hetzner-API based on a placement constraints which bind's this service to the node.ManagerSt

[2018-04-04 19:47] kabudu commented on #87
@xetys I agree with your analysis. It's probably best to wait for kubeadm, and hopefully the issue will be resolved soon.

[2018-04-06 15:45] lakano opened #92 "Creation of certificates and default self-signed certs"
Hi,
I've created ACME certs ( challenge http01 with « ingress: my-app-ingress-name » ), they are correctly created without error. But if I go on my browser it's still the auto-signed certs as before.
This doesn't seems to be a DNS cache problem because I've tested with another unused browser.

Could you please tell me how your script enable the self-signed certs please? May be I need to disable th

[2018-04-06 20:11] xetys commented on #92
could you please describe what you mean? Certs for what? For k8s API? For a workload?

[2018-04-09 09:16] lakano commented on #92
This was my fault, a missing TLS configuration in my ingress yaml. I believed your default configuration nginx controller take priority on 443 self-signed certs, but this was only because I've missed to add the "tls:" section in the ingress resources.

[2018-04-09 09:17] #92 closed

[2018-04-09 14:28] eliasp opened #93 "RFE: Add support for `context delete`"
Currently the `context` command only allows `add`, `current`, `list` and `use`, but there's no way to delete a context (besides manually removing it from ~/.hetzner-kube/config.json).

It would be helpful to be able to also delete contexts.

[2018-04-09 15:01] eliasp opened #94 "`cluster delete` broken, "Error: accepts 1 arg(s), received 0""
Using `cluster delete` doesn't work (`Error: accepts 1 arg(s), received 0`):
[code]

Using latest hetzner-kube a09fd01

[2018-04-11 10:04] AlexanderRay commented on #80
hello, have you solve it?

[2018-04-11 10:36] xetys commented on #94
yeah, because I didn't like the `--name` way. As of 0.3 it will be `hetzner-kube cluster delete my-cluster` instead of `hetzner-kube cluster delete --name my-cluster`

[2018-04-11 10:36] xetys commented on #93
true! needs to be done

[2018-04-12 07:09] lilvinz commented on #80
I have not been able to find a solution without side-effects. And yes, you are right, the missing InternalIP is the problem as heapster expects these to be there.

[2018-04-12 09:27] stevenklar opened #96 "Allow using ssh-keys without private-key"
The problem with private-key is, that it is possible to use services like krypt.co which is your "private authority" and only exposes your public key.

Therefore it is not possible to use hetzner-kube if you do not have the private-key on your local disk.

Maybe it's possible to make it usable without the private-key.

[2018-04-12 10:13] AlexanderRay commented on #80
May be is it possible to set InternalIP during node creation?

[2018-04-13 09:52] eliasp opened #97 "Parallel progress output shows `master-0`/`worker-0` for all lines"
The parallel progress bar which shows the progress of the individual servers after creating them shows the name `…master-0`/`…worker-0` for all shown lines instead of the correct names, e.g.:
[code]

It should look instead like this:
[code]

Using the most current version from git (dcf02c1)

[2018-04-13 10:13] vpm-bradleyhession opened #99 "External worker doesn't work"
Adding an external worker fails on every step. Kubelet doesn't start up because of no certs etc.

Provisioning stalls on
kubernetes-master-01 : wireguard configured               10.0% [--------------]
kubernetes-worker-01 : wireguard configured               18.2% [>-------------]

FWIW - I am adding an external hetzner Dedicated server.

[2018-04-13 10:15] eliasp commented on #99
Same happens for me when adding a regular worker - seems to be a general issue with adding workers.

[2018-04-19 17:54] lakano opened #100 "How to update the ingress controller deployment.yaml file please?"
Hi,

To expose TCP/UDP ports from outside, we need to update the ConfigMap of the ingress controller, so I use « kubectl -n ingress get cm/ingress-nginx-ingress-controller -o yaml > cm.yaml », adding the annotations requirements, and re-inject the yaml file with « kubectl -n ingress apply -f cm.yaml »

It's ok but I also need to add the ports in the « ports: » section of the ingress deployment fil

[2018-04-19 18:34] xetys commented on #100
you cannot modified pods. You should do that in the daemon set (try `kubectl -n ingress get daemonset`)

[2018-04-19 19:50] lakano commented on #100
Thanks for the info @xetys ! I've done the output, added the TCP port in the « ports » section, applied it, and this seems to be correctly configured, but this not opening the port, may be I've missed something elsewhere :-/

[2018-04-19 22:03] #93 closed

[2018-04-22 23:25] #59 closed

[2018-04-23 13:56] derryx opened #103 "How do I get an external address attached to the ingress controller"
Hi!

I am quite new to Kubernetes and I might ask a stupid question. So please forgive me.

I am able to create a cluster and deploying helm charts in that cluster works fine. But when I install an ingress controller (I want to install Jenkins-X) I always end up with the external address in state "pending". What do I need to do to get an external address attached? Jenkins-X does not proceed with i

[2018-04-23 14:16] xetys commented on #103
There are two ways of exposing services, LoadBalancer service type, and ingress. You are asking for LoadBalancer services. This means, a cloud provider takes a floating IP from the cloud infrastructures and connects to your cluster. This is a feature, which most commonly exists only in cloud kubernetes clusters, like on GCP, AWS or Azure. There also a custom one inside rancher. \

For the rest you

[2018-04-23 14:55] #68 closed

[2018-04-23 15:59] xetys commented on #103
yeah, really looks like a JX issue here.

[2018-04-23 17:14] derryx commented on #103
This seems to be an Jenkins X problem. Closing issue.

[2018-04-23 17:14] #103 closed

[2018-04-23 21:29] xetys opened #104 "move install-docker-kubeadm.sh into code"
to make sure the tool always use the commands for installation corresponding to its version. If not, the following might happen:

as currently in version 0.3, the tool fetches the install-docker-kubeadm.sh from the repo. If new stuff is invented in 0.4, all users with the older version might not be able to use the tool.

There are far more reasons for this, e.g. if some new stuff is developed in b

[2018-04-23 21:30] xetys commented on #104
related to #89

[2018-04-23 23:44] #33 closed

[2018-04-23 23:44] #104 closed

[2018-04-24 01:42] beeman opened #106 "Creating a cluster seems to be failing"
First of all, thanks for creating this project!

I just tried to set up a new cluster, and it seems to fail during the installation of the nodes. Tried it twice, same output.

The log is down here. If there's any more useful information I can add, please let me know!

[code]

[2018-04-24 08:00] h34dless commented on #106
+1

[2018-04-24 09:36] xetys commented on #106
does it help if you wait a little more and try again? I know a similar issue when it was in the bash script. The hetzner nodes need some time before getting fulling usable, even if they are already booted

[2018-04-25 15:34] lfrancke opened #107 "Add documentation on how to build the project"
As someone who's also never used Go before it'd be fabulous if you could include some documentation on how to actually build the project.

I've tried and failed. dep, GOPATH etc. are all new to me.

A few lines in the README would be great.

[2018-04-25 16:03] xetys commented on #107
Actually, there are a few lines about this. If you just want to get the current source doing a `go get -u github.com/xetys/hetzner-kube` is enough. In your $GOPATH/src/github.com/xetys you will then find the repo. Inside this repo, you can do a simple `go build` or `go install` without any issues.

If you have dep installed, even `dep ensure` runs over on a clean machine like a charm. I don't exac

[2018-04-25 19:32] eliasp commented on #107
And if you set `GOBIN` e.g. to `~/.bin`, `go get -u …` will be enough and the resulting binary will end up there, so you could easily add `~/.bin` to your shell's `$PATH`.

[2018-04-25 21:26] #106 closed

[2018-04-25 21:26] #26 closed

[2018-04-26 02:29] lfrancke commented on #107
Thanks guys and sorry for the confusion!

As I said having never used it I thought that go get only downloads. I wasn't aware that it also compiles. I'll try to provide a quick patch that clarifies (in my opinion at least :) ) the comment for people like me.

[2018-04-26 09:39] pierreozoux commented on #13
Yes, external DNS is also a good idea, but, not perfect.
Some DNS server will cache the answer for 48h..

[2018-04-28 07:45] exocode commented on #107
For completion

__Installing Go:__
On macOS you can put these lines into `~/.zshrc` or ` ~/.bashrc` (depending on your favourite shell):

[code]

If you are using `homebrew` you can install Go by `brew install go` and then `go get -u github.com/xetys/hetzner-kube`

[2018-04-28 07:57] exocode opened #109 "HA Setup fails with error 100"
I try to setup a HA-Cluster `Level 4` or `Level 3`. Both are ending up by "error 100".

[code]

[2018-04-28 08:02] exocode commented on #109
Same seems to happen with `Level 1`:

[code]
Maybe I have some misconfigured?

[2018-04-28 08:10] exocode opened #110 "Deleting context end up in context not found"
[code]
After deleting the context is still there in my config.json:

`cat ~/.hetzner-kube/config.json`

[code]

[2018-04-28 08:53] exocode commented on #109
__Weird:__ When I run the same command, again after it fails (with error 100), it "continuous" / "overwrites" it's deployment process and finishes successfully:
[code]

you can close this issue if you want

[2018-04-29 13:07] eliasp commented on #110
It looks to me like this is mostly a problem of not checking, whether the currently active context matches the one being deleted.

[2018-05-02 06:09] RamonSmit opened #111 "Integration with Gitlab CI/CD"
Hi there,

Thanks for this super awesome application! It made my life a fair bit easier!

I have one (migth simple) question. I'm not _that_ familiar with K8S but I see
your application as a entry level into K8S for me.

Is there a (good?) way to use your application to setup a environment for Gitlab:
https://docs.gitlab.com/ee/user/project/clusters/#adding-an-existing-kubernetes-cluster

I'm figh

[2018-05-02 12:44] xetys commented on #47
update, the lion part of this issue was solved weeks ago. What's left is writing tests for the validation. This can be done in further versions/

So I close this ticket as of #75 and #48 and a lot more stuff is already done

[2018-05-02 12:44] #47 closed

[2018-05-02 13:03] xetys commented on #109
yeah, that's all about the issue with hetzners nodes after they are created. But for your information, the create procedure is designed to be as idempotent as possible. This means that re-running the command should always work. That means, if the 100 error occurs, just run it again. It won't create new servers if it sees they are already there. It also won't install the packages if it finds them o

[2018-05-02 14:13] fentas opened #112 "error during placement (resource_unavailable)"
Using `hetzner-kube` via `go get -u github.com/xetys/hetzner-kube`

[code]

If I reduce `worker-count` to 3 it will fail at beta-worker-01... > 2 instances left. What is interesting, one time it had only one instance left. So close :sweat_smile:
There is no server limit issue (still have plenty).

Thanks a lot.
Also tried it a couple of times. Retried it, it will go through quickly (output above)

[2018-05-02 14:40] fentas commented on #112
After reducing `datacenters` only to one (`--datacenters nbg1-dc3`) it worked.

[2018-05-02 15:20] xetys commented on #112
I think it is a temporary issue at hetzner. I will watch if more users report this issue, and close it in some day if not.

[2018-05-02 15:29] #54 closed

[2018-05-02 20:15] kabudu opened #114 "How to get hetzner-kube to recognise existing clusters?"
How do you get hetzner-kube to recognise existing clusters?

This is the scenario I have.

On machine A

- Install hetzner-kube
- Add context
- Add SSH Key
- Create Cluster

On machine B

- Install hetzner-kube
- Add context (same as on Machine A)
- Add SSH Key (same as on Machine A)
- ```hetzner-kube cluster list``` => List is empty :(

Is there a way to make hetzner-kube behave like ```git fetch

[2018-05-02 20:37] xetys commented on #114
Currently, the tool has no support for that right now. But there is a "hack" you can do. The tool saves its state in `~/.hetzner-kube/config.jon`, where the clusters are in the "clusters" array.
Doing it this way migrating contexts and clusters should work without any problems. For the SSH keys I would suggest to ignore the fact, that you are importing a key which points to an existing `~/.ssh/id_

[2018-05-02 20:57] kabudu commented on #114
@xetys Thanks for the hack, worked like a charm!

[2018-05-02 20:57] #114 closed

[2018-05-02 21:26] xetys commented on #107
That's correct. As this is not an issue of this tool I don't think hetzner-kube's docs are the right place for go setup instructions. It is assumed, that go is installed properly.

[2018-05-02 21:26] #107 closed

[2018-05-02 21:27] xetys commented on #100
Did you kill the pods? DaemonSets don't to rolling updates, as the default update strategy is 'OnDelete'

[2018-05-03 06:09] lfrancke commented on #107
I agree that installing Go does not need to be part of the docs but how to build the project should for those that don't know Go.

Currently it says "get it from source" which to me does not imply building. I'll edit the README to make it clearer for me and then it's up to you to decide.

[2018-05-03 08:03] JohnnyQQQQ commented on #111
I used hetzner-kube to build a cluster that we use with GitLab. You can create a ServiceAccount and bind a Role to it and then just add it to GitLab.

[2018-05-03 11:28] RamonSmit commented on #111
Ah thanks for the information!

Got a weird error:
[code]

Did you encouter this? Or?

[2018-05-03 11:31] xetys commented on #111
Why do you need this? You just can install helm using `hetzner-kube cluster addon install helm`

[2018-05-03 11:34] RamonSmit commented on #111
Well, those are the integrations inside of GitLab. Guess it's used for the monitoring stack

[2018-05-03 11:44] JohnnyQQQQ commented on #111
You don't need any addon. You just need the ServiceAccount with the right role assigned to it and add it into the "Kubernetes" tab under "CI/CD" in your project. Then you can use the kubernetes environment variables in your CD job to deploy your containers to kubernetes.

https://docs.gitlab.com/ee/user/project/clusters/#adding-an-existing-kubernetes-cluster

[2018-05-03 13:45] xetys opened #116 "enable customized node CIDR"
using https://github.com/xetys/wgctl I have the following use-case. I'm building a ceph cluster. a live and staging kubernetes cluster. The idea is to use both kubernetes clusters (or possibly more) with access to the ceph cluster. Currently, hetzner-kube uses 10.0.1.0/24 for the nodes. So there is no option of adding 2 clusters with non-colliding node CIDRs. That's why I need a `--node-cidr` opti

[2018-05-03 19:09] #116 closed

[2018-05-04 04:46] athre0z commented on #112
Probably not an issue of this tool. Various bigger instance types have been unavailable on all data-centers in the past few days (they are grayed out in the UI). I think Hetzner is having some issues keeping up with the success of their cloud service.

[2018-05-04 09:58] xetys commented on #87
I ran into the need to perform an upgrade of my cluster. As I only use HA clusters in my setups, this is a non-trivial step. Here are my steps to do a backup:

## Backup

Depends on how paranoid you are, you should save:

* manifests
* etcd
* workload storage

## Control Plane

1. get the latest kubeadm

[code]

2. upgrade the control plane using the generated hetzner-kube on all master nodes

[co

[2018-05-04 10:40] kabudu commented on #87
Option 2 seems like a good halfway house to me.

[2018-05-04 11:02] JohnnyQQQQ commented on #87
Personally I think that we should start with option 1 right now and take option 2 into _consideration_ for the next major release.

We would need to get a list of all common edge-cases in which an update is not possible and catch those exceptions. IMHO If we would like to ship a feature like this, it shouldn't harm the more inexperienced users in first place.

---

This is a good point. We should

[2018-05-04 13:32] xetys commented on #87
about the "next major" release...currently, we have no major release, yet. The next would then be 1.0. I'm still thinking what milestones I want to reach for this version.

So, who is gonna code this? :trollface:

[2018-05-04 17:06] tholu commented on #96
How is the private key actually used?

[2018-05-04 17:33] tholu commented on #94
Usage help is now wrong:
[code]

[2018-05-04 18:05] stevenklar commented on #96
The public key contains the third authority which asks my device if i'm allowed to access the resource. The device actually contains the private key and is the only authority.

So my actual computer access the remote machine, which asks my third authority if i'm allowed to do so.

But hetzner-kube want to use a specific private key instead of just let ssh decide which one to use, which is convenie

[2018-05-05 14:21] exocode opened #118 "how to select the server?"
Hi there, when I deploy a cluster I only get the smallest possible unit of hetzner:

[code]

How to choose another ones?
Like: `CX21 `, `CX31` or  `CX41 `

[2018-05-05 14:31] eliasp commented on #118
Use `--worker-server-type` and/or `--master-server-type` to make use of differen server types.

See also the output of `hetzner-kube cluster create --help`:
[code]

[2018-05-05 15:06] exocode commented on #118
aaaah,... thank you didn't saw that

[2018-05-05 15:06] #118 closed

[2018-05-07 12:39] torgon opened #119 "Failing to add additional workers after initial cluster creation"
Hi,

cluster creation worked perfectly, but adding cluster workers failed with the error below.
Yes, using windows for installing ;-) Not sure if thats the cause, i didn't get around to test on linux yet.

Regards

Torgon

C:\Users\username\go\bin\hetzner-kube --name clustername cluster add-worker --nodes 1 --worker-server-type cx21 --datacenters nbg1-dc3
2018/05/07 14:30:29 creating server 'clust

[2018-05-08 12:59] xetys commented on #119
congrats, you are the first user who tried the cross-platform version.

Are you using go also for development? Dou you feel confident to PR an fix to that win related bug?

[2018-05-08 19:58] exocode opened #120 "How to connect to existing cluster from a second computer"
I have setup my cluster through my "Macbook Pro1" which is at the moment under repair.
So I tried to setup a second computer (Macbook Pro2) with hetzner-kube:

- I added a ssh key
    - `hetzner-kube ssh-key add -n MacbookPro2`
- I created a new token in my project panel
- I created a context
    - `hetzner-kube context add my-context`
    - `hetzner-kube context use my-context`

I can create new

[2018-05-09 05:10] torgon commented on #119
Well, i'm usually not a go-dev but i might try to have a look if i can figure out whats happening here.
Its creating the server,  but looks as if its not able to parse the return values..

[2018-05-09 08:54] schliflo opened #121 "Add Homebrew release"
I kindly request that this tool gets released as a [homebrew](https://brew.sh/) formula: https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md

[2018-05-09 09:36] torgon commented on #119
Ok, so far i was able to trace the problem back to an empty node_cidr value in the hetzner-kube config.json
After filling it with  (presumed) correct value for the internal ip subnet 10.x.x.x the process gets beyond the previous breaking point, now seemingly processing "wireguard configured" on the previous nodes for quite a while.... Might be related to #99

[2018-05-09 09:38] xetys commented on #119
but looks like a general problem, not windows specific

[2018-05-09 09:41] torgon commented on #119
Well, i'm still on windows (though same problem using ubuntu bash on windows)
I tried using the add-external-host with an IP too, same nodecidr error
What is the expected value there? Seems to be related to your last change from about a week ago?

[2018-05-09 09:43] xetys commented on #119
The node CIDR is basically meant for you to be able to specify other internal subnets than 10.0.1.0/24. I believe it is not properly persisted in the config.json, so this might be the issue.

[2018-05-09 09:45] torgon commented on #119
So you expect 10.0.1.0/24 in that json field as a default?

[2018-05-09 09:48] torgon commented on #119
Because, after inserting 10.0.1.1 into that field, i got to this point:

xxx@dell:~$ /mnt/d/Dev/go/bin/hetzner-kube cluster add-worker --datacenters nbg1-dc3 --name clustername --nodes 1 --worker-server-type cx21
2018/05/09 11:28:17 creating server 'clustername-worker-02'...
  --- [======================================] 100%
2018/05/09 11:28:35 Created node 'clustername-worker-02' with IP 195.201

[2018-05-09 10:12] xetys commented on #119
yes. It should be saved into the config.json....But it looks like it's not

[2018-05-09 10:19] xetys opened #122 "e2e suite"
issues like #99 and #119 and some similar shows the need of a sustained way to test this tool works properly. For this purpose I suggest creating an e2e suite, which takes an API token for a hetzner account and tests these scenarios:

1. `cluster create -n level-one -k XXX -w 1` (creates 2 nodes)
2. add worker (adds one more node)
3. `cluster create -n level-three -k XXX --ha-enabled -w 1` (create

[2018-05-09 10:25] torgon commented on #119
Thanks for all your help, btw, your tool was a great find for me and very helpful in setting the cluster up!

[2018-05-09 11:27] xetys commented on #121
hey. Looks like a meaningful upgrade for this tool. As I'm a pure linux user, and don't use homebrew, I would ask for someone who is familiar with homebrew to make a PR for that.

[2018-05-09 11:30] xetys commented on #120
Duplicate of #114

There is a hack described. But currently, there is no out-of-the-box solution for this.

[2018-05-09 11:31] xetys commented on #112
As it was an outage from hetzner, I close this issue

[2018-05-09 11:31] #112 closed

[2018-05-09 11:32] xetys commented on #111
As this is not hetzner-kube related, I close this

[2018-05-09 11:32] #111 closed

[2018-05-09 11:33] xetys commented on #100
I think this question is resolved. If not, feel free to give feedback here.

[2018-05-09 11:33] #100 closed

[2018-05-09 14:03] schliflo commented on #121
I'm not familiar with how to create formula, but I can have a look at it. Currently I'm not even able to get this running at all:
![screen shot 2018-05-09 at 16 03 23](https://user-images.githubusercontent.com/9881672/39818997-8ebc78ac-53a2-11e8-9532-80e7187409a3.png)

[2018-05-09 14:59] xetys commented on #121
It looks like your are downloading the binary for Linux amd64. If you are on Mac, use the Darwin link for your system

[2018-05-09 15:04] schliflo commented on #121
You're correct. That fixed it.
I'll try to get a PR to homebrew in as soon as i get around to looking in how to create formula.

[2018-05-09 15:14] xetys commented on #121
That would be super great!

Florian Schlittenbauer <notifications@github.com> schrieb am Mi., 9. Mai
2018, 17:04:

[2018-05-10 11:04] pierreozoux opened #123 "New cluster creation - issue with number of etcd node printed"
I just created a new cluster with version 0.3, and there is just a little issue on the text:

[code]

You see the `ETCD NODES` is set to 3, and I think it should be set to 1.

[2018-05-11 14:20] xetys commented on #63
Update here, I have an idea of what is wrong with kernel 4.4. There are several issues with MDS, RBD etc., like incomplete folders (especially in CephFS). However

[code]

fixes the problem. The question is, if and how to implement this in the tool. Or maybe just document this and close that issue

[2018-05-11 16:08] eliasp commented on #63
It might be easier to rebase everything onto Ubuntu 18.04 instead of trying to get such an old Kernel working…

[2018-05-11 19:40] xetys commented on #63
Actually I don't know how k8s itself is behaving on u18. I remember when
u16 was released it had a lot of issues at the beginning. I should try that
out when the e2e test suite is there

Elias Probst <notifications@github.com> schrieb am Fr., 11. Mai 2018, 18:08:

[2018-05-11 20:36] schliflo commented on #122
Maybe it's even worth asking Hetzner to sponsor an account for CI Testing purposes. I mean in the end this tool probably generates a fair amount of income for them already.
Pinging random people from [hetznercloud](https://github.com/orgs/hetznercloud/people) @thcyron @thetechnick

[2018-05-13 08:58] exocode opened #126 "hetzner-kube cluster addon install ingress fails"
When i try to install ingress for loadbalancing as an addon it fails:

[code]

[2018-05-13 09:06] JohnnyQQQQ commented on #126
Did you installed the helm addon prior to this?

[2018-05-13 09:10] exocode commented on #126
yes by using

`hetzner-kube cluster addon install  --name demo-cluster helm`

[2018-05-13 17:06] byteSamurai opened #127 "Licenses and contribution"
Hey,
In short: I like to contribute. What I am missing atm:

- Licenses (file headers as well as license file) are missing names an mail.
- Contribution-Guide. Are contributions only welcome as add on?
- Gitter/Slack something like that to get in touch without open an issue

What rules are there to contribute?

[2018-05-13 18:15] exocode commented on #126
I tried it now on a 1 Node cluster as well on a 3 Node cluster:

Steps to reproduce:

1. `hetzner-kube cluster create --name demo-cluster --ssh-key your@secret_key.local  --master-count 3 --worker-count 3 --ha-enabled`
2.  `hetzner-kube cluster addon install --name demo-cluster helm`
3. `hetzner-kube cluster addon install  --name demo-cluster nginx-ingress-controller
hetzner-kube cluster list  ##

[2018-05-13 21:18] pierreozoux commented on #127
About chat, what about using matrix?
If not, I can also provide a rocket.chat hosting.

[2018-05-14 14:19] byteSamurai commented on #127
I don't have any preferences, but as project owner @xetys should take this decision IMHO.

In other projects [Gitter](https://gitter.im/) was easy to setup and [offers a badge](http://blog.gitter.im/2014/01/27/badgers/), most important aspect! :smile:

[2018-05-15 12:06] martinseener commented on #57
Hi, today i tried it with my ed25519 key on macOS w. kube v0.0.3 using the following command:

    hetzner-kube ssh-key add --name mykey-ed25519 --private-key-path "~/.ssh/id_ed25519" --public-key-path "~/.ssh/id_ed25519.pub"

and it worked with the following output

    sshKeyAdd called
    SSH key mykey-ed25519(48750) created

[2018-05-15 12:20] martinseener commented on #57
Ahh but i see where the problem is. While adding such a key works, using it is the actual issue. When trying to build a cluster with an ED25519 key (instead of RSA), the following issue arises:

[code]

[2018-05-15 12:40] xetys commented on #127
gitter chat is there

[2018-05-15 12:41] xetys commented on #127
ps: about contributions. I will do some guidelines when I find the time. In general all kind of contribution is welcome, like fixes, addons, docs etc...

[2018-05-15 12:50] byteSamurai commented on #127
thb I would like group some files into packages and write some tests. Also resolve the separates types. AFAIR is a anti pattern in GO to have a separate type/model file. Also a Makefile is needed IMHO.
Doing Fixes? -> No question about it! Of course I will also these things.

If you have no problem with that you will get some PRs soon. Long term I would like to fancy up the CLI respond . Do you ha

[2018-05-15 16:43] byteSamurai commented on #127
Nice! I will do so. Im also not a pro, but did some small projects and eager to train my inner gopher.

[2018-05-16 14:28] quorak opened #128 "Encryption over flannel"
Hey guys,

have there been any thoughts about encryption of the network traffic between the workers.
I'm not sure if this is enabled by flannel by default. But wanted to check.
Think this would be important for a production setup.

best

[2018-05-16 19:38] pierreozoux commented on #128
In this project, there is first a wireguard VPN that is created, and then all net go thought that VPN.

[2018-05-17 09:32] quorak commented on #128
ah perfect. that was my main concern. Maybe we add a notice to the Readme.

[2018-05-17 09:32] #128 closed

[2018-05-17 13:47] quorak opened #129 "kube-prometheus addon fails if the prometheus-operator dir is already there"
When installing prometheus via the addons on a new cluster I can the following error.
[code]

[2018-05-17 13:57] xetys commented on #129
this command is currently not idempotent, it means you cannot run it twice. A workaround for the moment is to ssh into the master node and `rm -rf prometheus-operator` and run the install addon command again.

[2018-05-17 14:18] quorak commented on #129
ah. well the very first time i run it i got:
[code]
on a new cluster

[2018-05-17 14:37] xetys commented on #129
seems like they did another breaking change....

[2018-05-18 06:48] exocode opened #130 "New addon Mongodb [enhancement]"
The guys at Openebs improved their Mongodb example.
It would be nice to have it in the addon list:

https://github.com/openebs/openebs/tree/master/k8s/demo/mongodb

[2018-05-18 07:44] exocode commented on #15
I am a quite newbie on kubernetes.

I have troubles to get my apps reaching out to the www with the ingress controller by exposing/connecting to a floating ip.

Do I have to add your options `rbac.create=true,controller.kind=DaemonSet,controller.service.type=ClusterIP,controller.hostNetwork=true` when I install the controller through hetzner-kube?
I am asking because I cannot find these options in

[2018-05-18 07:52] JohnnyQQQQ commented on #15
@exocode it's in the ingress file

https://github.com/xetys/hetzner-kube/blob/master/pkg/addons/addon_ingress.go

[2018-05-18 07:54] JohnnyQQQQ commented on #15
Did you add the floating ip it to your network interface?

[2018-05-18 09:08] exocode commented on #15
Hi @JohnnyQQQQ, thank you for responding my questions.

You mean by adding `sudo ip addr add 123.456.789.0 dev eth0`? Yes I did that. I can see the attached IP when I use `ip addr`.

What me makes confusing - _because the whole stuff is new for me_ - is, that I dont know which service to choose to expose my apps: `LoadBalancer` or `NodePort`? In my understanding Hetzner has no loadbalancer, so I h

[2018-05-21 13:15] vpm-bradleyhession commented on #99
Any updates to this? Really starting to need this now

[2018-05-21 21:08] cornelius-keller commented on #58
Hi all,
I created a for of https://github.com/kubernetes/contrib/tree/master/keepalived-vip and modified it in a way that it can use notify scripts.
I wanted did this to solve exactly this problem. I already tested it in one of my development clusters at hetzner and it seems to be working.
I committed the example resources I used so you can try it.
This is work in progress, and I would appreciate

[2018-05-24 07:05] cornelius-keller commented on #58
Hmmm. I expected a little more exitement, maybe it is not clear what this thing is doing.
It is dooing keepalive the kubernetes way, and you don't need anything but kubernetes api to implement it.
So what you need to do is fill in your failover ip and credentials in a kubernetes secret
[code]
You put your notification script in a config map (or use mine)
[code]
You also need to put your failover i

[2018-05-24 08:21] quorak commented on #129
do you remember which prometheus-operator commit was the last that was working ?

[2018-05-24 13:05] quorak commented on #119
Can confirm the same problem with linux.

[2018-05-25 19:01] exocode commented on #58
@cornelius-keller so, I am __very__ excited 🥇 I cant wait to see it in my production env wrapped in a helm chart. :-) Thank you!

[2018-05-25 19:42] #126 closed

[2018-05-26 09:54] exocode commented on #58
@cornelius-keller It's me again. I made a helm chart of the informations you delivered, but I hang on some (newbie) problems: Maybe you (or someone else) wanna try to help get that running?

Simply fork it

Change the Values.yaml to your needs.
`helm install --name hetzner-failover hetzner-failover`

https://github.com/exocode/helm-charts/

This is where I struggle at the moment:

[code]

[2018-05-26 10:49] cornelius-keller commented on #58
Hi @exocode The Service account used for rbac was missing in my quick howto. apologizes. I created a pr for you including a service account.

[2018-05-27 09:56] exocode commented on #58
Hi @cornelius-keller

I am still hanging but I had a slight progress... Maybe you would help me to finish that chart?

`CrashLoopBackOff: Back-off 1m20s restarting failed container=kube-keepalived-vip pod=kube-keepalived-vip-42rjk_default(275cade9-6192-11e8-9a63-9600000ae6f9)`

The Container crashes. When I act quickly after installing with helm I can see the keepalived.conf, which seems not so co

[2018-05-28 07:46] JohnnyQQQQ commented on #58
I'm interested in how to add the Floating-IP to the default network interface. I think the best way would be on setup as I'm not sure if there is any way from inside a container.

[2018-05-28 20:50] exocode commented on #58
I got it working, thank you for your patience! My fault. I did not point to the correct ingress. I had "nginx" but in the real one was "nginx-demo". So I changed that: and it worked, yay! A big step for me in my journey through the awesome world of k8s and Hetzner.

Everything looks nice. May someone (@cornelius-keller :-D ) can add the "filter option for the description" field? Like in the exampl

[2018-05-29 12:26] JohnnyQQQQ opened #133 "Gopkg.toml empty"
I think we should add the right content

[2018-05-29 12:31] JohnnyQQQQ commented on #99
I'm investigating right now as we need it at work. It seems like the hcloud api is broken. The request the get the ssh-key returns nil but no error.

https://github.com/xetys/hetzner-kube/blob/7208c4929a94d9849e71dd855707d6fd73b04f2e/pkg/hetzner/hetzner_provider.go#L47

The command don't check for nil on the ssh-key and panics when referencing nil.

[2018-05-30 07:11] exocode opened #135 "Not able to delete nodes"
I get an error message when I try to delete a node. The node stays online after the command:

’’’
luster remove-external-worker -n global-nights-cluster --ip 123.456.789.0
2018/05/30 08:00:12 deletion failed %!s(<nil>)
2018/05/30 08:00:12 node deleted successfully
’’’

[2018-05-31 13:52] zx2c4 opened #136 "Don't shell out for generating wireguard keypairs"
Here's a pure Go way of doing it:

[code]

[2018-06-01 11:01] JohnnyQQQQ opened #137 "Update the rook addon urls"
Right now the urls that the rook addon tries to use to install itself on the cluster results in a 404 error

[code]

Most of the files were moved to `cluster/examples/kuberentes/ceph`

[2018-06-01 12:50] jowenn opened #139 "Routing of Flannel traffic over wireguard"
It is nice that there is wireguard, but it is not used for inter pod communication

Flannel by default uses the  device with the default route (if run on the host), I'm not sure how it is handled when run as a pod

At least I could verify that my communication between two pods on two nodes is not encrypted, because it does not use the wg0 interface.

What I did:
I created a cluster
hetzner-kube cl

[2018-06-01 13:37] xetys commented on #136
thanks for the hint. Would you like to PR this to us?

[2018-06-01 13:38] #137 closed

[2018-06-01 13:41] xetys commented on #99
will be closed when the progress bars render correctly, but should basically work now

[2018-06-01 14:16] zx2c4 commented on #136
Not really, but feel free to trivially copy and paste that.

[2018-06-03 16:02] JohnnyQQQQ commented on #122
Are there any news on this? I have some basic e2e tests in bash ready to go..

[2018-06-03 16:04] xetys commented on #122
I was busy the past time so didn't really started here yet. Feel free to
share ideas

Jean-Philippe Quéméner <notifications@github.com> schrieb am So., 3. Juni
2018, 18:02:

[2018-06-06 11:32] pierreozoux commented on #139
Yes, noticed that too.

I think what is happening is that wireguard is created, then kubeadm is configured to use wireguard IPs, and then when flannel starts, it discovers interface on its own, and choose eth.

I had to deploy my cluster with kubeadm (additional worker failing), and I used that config for flannel on top of wireguard:
https://git.indie.host/indiehost/standard/blob/master/kube-flann

[2018-06-06 14:42] TaurusUY opened #141 "Unable to create cluster following tuturial"
I am following the tutorial step by step but when try to create the kubernetes cluster it fails with the following error and exit code:

I do have:
Hetzner cloud account
kubectl / kubeadm / kubelet (I use it to manage other clusters running in Rancher / AWS / Minikube)

Versions in my local machine:
_USER@LX-HOST:~h$ **kubeadm version**
kubeadm version: &version.Info{Major:"1", Minor:"10", GitVers

[2018-06-06 19:51] JohnnyQQQQ commented on #141
Are you using the current master?

[2018-06-07 06:27] JohnnyQQQQ commented on #141
Did you build the binary from the current master branch or did you download
the binary from a release?

Alvaro <notifications@github.com> schrieb am Do., 7. Juni 2018, 08:25:

[2018-06-07 06:30] JohnnyQQQQ commented on #141
Did you build the binary from the current master branch or did you download
the binary from a release?

[2018-06-07 06:32] TaurusUY commented on #141
Hi Johnny, I downloaded the binary from the release following the tutorial with:

$ wget https://github.com/xetys/hetzner-kube/releases/download/0.0.3/hetzner-kube

[2018-06-07 09:36] xetys commented on #141
hi. Yeah, you are using a really old version (0.0.3), while the current stable is 0.3 and the master the current state.

You could either download a binary from this page: https://github.com/xetys/hetzner-kube/releases/tag/0.3

or build it from master. Build instructions can be found in our central README.

The reason why 0.0.3 is no longer working, as we don't use the install-docker-kubeadm shell

[2018-06-07 09:36] #141 closed

[2018-06-07 10:33] TaurusUY commented on #141
**Hi xetys, thanks for that hint**.
Now with the proper binary downloaded (0.3) cluster creation worked like a charm.

The only thing is failing now for me following the tutorial is the last step (HELM and INGRESS section) I am able to install Helm, with Tiller pod creation successfully, but when try to create via Helm the ingress it fails:

USER@kube-test-master-01:~$ helm install **--name ingres

[2018-06-07 12:31] loxy opened #142 "Is it possible to deploy the master nodes (HA) on distinct datacenters?"
When using a HA setting it maybe make sense to use the three different datacenters of Hetzner to be more resistent against disasters, like the recent power failure in Falkenstein.

So, is it possible (or even useful) to deploy the masters to different datacenters? If yes, how? If not, is it possible to add more masters, like workers?

[2018-06-07 13:27] xetys commented on #142
Actually this should be the default behavior. The default configurations
already consists of the two German datacenters and hetzner-kube rotates
them round robin.

Kersten Lorenz <notifications@github.com> schrieb am Do., 7. Juni 2018,
14:31:

[2018-06-07 13:37] loxy commented on #142
Ah, ok. Nice. Didn't build the HA cluster yet. Is it possible to include Helsinki also, with a flag or something?

[2018-06-07 13:39] JohnnyQQQQ commented on #142
Yes, you can use this flag when creating the cluster

[code]

[2018-06-07 13:41] loxy commented on #142
Ok, now I understand. Great work, guys!

[2018-06-07 13:41] #142 closed

[2018-06-07 18:38] JohnnyQQQQ commented on #122
I would write a shell script that would run all three tests above and clean up the account after every test. On failure it would return an error exitcode.

[2018-06-07 21:20] loxy commented on #119
Same for me. Hanging on wireguard configured...
Does someone know when it occures?

[2018-06-10 13:43] jowenn commented on #139
I've tried removing everything flannel related and used your file with kubectl apply and with kubectl create in both cases the result is that the pods are in crash loop. From the logs I can see that the post startup command errors out with a "Address already in use" message

[2018-06-10 13:48] pierreozoux commented on #139
Yeah, maybe you have to clean some folders too, and iterfaces.

I've used this command when I used kubeadm, to reset node:
[code]
And reboot the node, it might help, but be careful, I'm not sure the node will join again the cluster. Try this at your own risk, on staging cluster.

[2018-06-12 13:24] JohnnyQQQQ commented on #58
I tried it today, seems to work but somehow I can't route any traffic as the requests times out.

The IP is assigned to the right Node in the Hetzner backend. On the Node I can also find to IP in the network configuration

[code]

Any hints? I'm using floating-ips.

[2018-06-13 09:06] JohnnyQQQQ commented on #58
I could narrow down the problem to the ingress-nginx helm chart..

[2018-06-13 10:53] JohnnyQQQQ commented on #58
I got it working with the ingress-nginx helm chart, instead of using the hostnetwork one can pass an external ip

[code]
Then ingress will be bound to this ip. Otherwise the Firewall will not allow connections.

[2018-06-14 10:02] tpo opened #146 ""cluster addon list" segfaults"
How to reproduce:

1. local machine is Debian stretch, Intel Laptop
2. wget https://github.com/xetys/hetzner-kube/releases/download/0.3/hetzner-kube
3. chmod +x hetzner-kube
3. ./hetzner-kube help # works
4. ./hetzner-kube cluster addon list

[code]

what am I missing?

[2018-06-14 10:52] tpo commented on #146
Thanks @JohnnyQQQQ

[2018-06-15 03:21] rockymadden opened #147 "bug: cluster create should not encounter panic"
I am attempting to create a basic cluster from the readme and I am met each time with the below error.

## Details
* Compiling via `go get -u github.com/xetys/hetzner-kube`.
* Tried against `0.3` tag with same outcome.
* Go reports version as `go version go1.10.3 darwin/amd64`

## Debug
[code]

[2018-06-15 06:53] JohnnyQQQQ commented on #147
It's also showing 3 etcd nodes but none will be created as etcd is not isolated and ha is false. I will investigate this weekend.

[2018-06-15 14:49] rockymadden commented on #147
@JohnnyQQQQ Nice, thanks!

[2018-06-15 18:31] felixfischer commented on #147
Similar here, so I subscribe to this thread.

Details:

* go version go1.10.3 darwin/amd64
* Compiled via `go get -u github.com/xetys/hetzner-kube`

[code]

[2018-06-16 06:50] vschwaberow commented on #119
Problem also occurs on OSX.

[2018-06-16 11:28] vschwaberow opened #148 "Adding worker node crashes on OSX (0.3.1-SNAPSHOT)"
[code]

[2018-06-16 16:53] JohnnyQQQQ commented on #147
I can't reproduce the problem with the current master branch.

[2018-06-16 20:43] JohnnyQQQQ commented on #148
I can't reproduce the problem with the current master branch.

[2018-06-17 09:41] xetys commented on #147
Maybe this is a Mac related issue? As I'm not a Mac user I can't test that

[2018-06-17 09:49] xetys commented on #139
Your approach is generating new keys Everytime the network is restarting. That would lead to other nodes to lack the new public key. Isn't there a way just to specify which network interface should use?

[2018-06-17 12:43] JohnnyQQQQ commented on #148
Which commit are you building from?

[2018-06-18 08:50] lbvffvbl commented on #148
the same problem with current master branch

[2018-06-18 08:53] JohnnyQQQQ commented on #148
Seems to be darwin specific then. Feel free to debug an open an pr.

[2018-06-18 09:34] lbvffvbl commented on #148
no, its ubuntu 16.04, with go get -u github.com/xetys/hetzner-kube

[2018-06-18 11:36] lbvffvbl commented on #148
as i see in my config file value of node_cidr is empty. but "github.com/xetys/hetzner-kube/pkg/clustermanager.PrivateIPPrefix" got this empty value as ip in hetzner_provider.go:

cidrPrefix := clustermanager.PrivateIPPrefix(provider.nodeCidr)

and trying to
strings.Join(strings.Split(ip, ".")[:3], ".")

[2018-06-18 11:39] JohnnyQQQQ commented on #148
Ah nice catch, I had the same issue. You just need to edit it and add "10.0.1.0/24" to it. IIRC it's a bug caused when saving the config in an older version that is fixed now.

[2018-06-18 11:40] JohnnyQQQQ commented on #148
The congif can be found here `~/.hetzner-kube/config.json`

[2018-06-18 11:42] lbvffvbl commented on #148
i trying to create cluster with new version and deleting config file and node_cidr still was empty

[2018-06-18 11:43] JohnnyQQQQ commented on #148
Okay, fair enough

[2018-06-18 12:06] lbvffvbl opened #151 "remove node at all"
Hi, can you add removing worker node and server at all from hetzner cloud as add-worker adding server and worker node
remove-external-worker just delete node from k8s cluster. And server i should delete manually

[2018-06-18 14:23] rockymadden commented on #147
Perhaps, I can try testing that.

[2018-06-19 00:51] rockymadden commented on #147
Closed in favor of a different solution.

[2018-06-19 00:51] #147 closed

[2018-06-19 13:04] lucernae commented on #127
@xetys This is very useful! I Imagined I will be using it to deploy kube cluster soon on Hetzner. We are using hetzner a lot. Do you have a milestone to release v1 yet? I'm not a go expert, but probably can help with the docs, example, etc.

[2018-06-19 16:14] Keroxo opened #152 "Error setting kubeconfig"
I set up a new cluster like in the tutorial:
[code]
Then I want to set kubectl
[code]
But I got the Error above.

I'm using hetzner-kube 0.3 darwin-amd64. Does anybody has an idea?

[2018-06-19 16:25] JohnnyQQQQ commented on #152
Did you try

[code]

[2018-06-19 19:13] Keroxo commented on #152
Thank you. That solved it :)

[2018-06-19 19:13] #152 closed

[2018-06-21 08:56] xetys commented on #127
sure @lucernae

feel free to chop through our issues and suggest them for project 1.0, I will check that out and add them to the TODO list

[2018-06-21 15:24] JohnnyQQQQ opened #153 "Provision server in parallel"
Right now I setup a few bigger clusters. It's very time consuming to wait for the provisioning as it's sequential. We should change this stage to work in parallel.

[2018-06-22 22:09] jeff1985 commented on #121
I was going to suggest this! Did you have any progress with that?

[2018-06-23 09:19] schliflo commented on #121
@jeff1985 I'm sorry I kinda forgot about it... 🙈 PR is here though: https://github.com/Homebrew/homebrew-core/pull/29349 🎉

[2018-06-23 09:44] schliflo opened #155 "hetzner-kube version fails if ~/.hetzner-kube/config.json is not writeable"
As I found out here https://github.com/Homebrew/homebrew-core/pull/29349 `hetzner-kube version` fails if `~/.hetzner-kube/config.json` is not writeable.
I think checking the version should not require that file at all. Same thing is true for the `help` command.

[2018-06-23 09:48] schliflo commented on #121
Tests are failing because of #155 - if you need it right now you can just copy the formula file from [here](https://github.com/schliflo/homebrew-core/blob/b60c5bb684928cb822934434241d17f363737ba1/Formula/hetzner-kube.rb) to your homebrew dir `$(brew --repo homebrew/core)`

[2018-06-23 21:31] thordin9 opened #156 "cluster create not working"
hello,
i've been trying to setup a simple and a ha-enabled cluster with no success. I am using the latest binary on centos 7.5 64bit.

*Steps to reproduce*
1. Create a new project
2. Add an API token
3. Using hetzner-cube set context and add ssh key
4. use hetzner-cube cluster create in any parameter combination (tested with and without --ha-enabled, default and cx21 server types)

*Expected resul

[2018-06-24 17:07] thordin9 commented on #156
i tried a more manual approach and still could get it to run on hetzner cloud.

i think it is related to this and not really a bug of hetzner-cube but of kubernetes: https://github.com/kubernetes/kubernetes/issues/61277

can't be sure tho, perhaps its hetzner related.

[2018-06-25 21:03] #123 closed

[2018-06-26 14:14] simonkern commented on #139
@pierreozoux looks quite similar to flannel's official wireguard extension:
https://github.com/coreos/flannel/blob/master/dist/extension-wireguard

In the docs it says about  the `PreStartupCommand` which includes the key generation command:

see: https://github.com/coreos/flannel/blob/master/Documentation/extension.md

[2018-06-26 14:17] simonkern commented on #110
This bit me as well, I ended up deleting the folder and moved on :p

[2018-06-29 10:19] trippinCode commented on #119
I have the same problem on Linux.

[code]

[2018-06-29 11:49] trippinCode commented on #119
@JohnnyQQQQ That is not the worker that is my pc where the hetzner-kube cli is running on.

[2018-06-29 11:53] JohnnyQQQQ commented on #119
What Version are you using? On master this bug should be fixed.

Lukas <notifications@github.com> schrieb am Fr., 29. Juni 2018, 13:49:

[2018-06-29 12:01] trippinCode commented on #119
I'm using version 0.3, do i need to build from source?

[2018-06-29 12:03] JohnnyQQQQ commented on #119
Yes, it's a Bug in 0.3

Lukas <notifications@github.com> schrieb am Fr., 29. Juni 2018, 14:01:

[2018-06-29 12:04] trippinCode commented on #119
Ok thanks :dog2:

[2018-06-29 12:46] #146 closed

[2018-06-29 12:48] xetys commented on #151
is on list for v1

[2018-06-29 12:56] trippinCode commented on #148
It seems like i'm having the same issue on a ubuntu 18.04 pc.
I don't have a node_cidr entry at all in my config file, where do i need to put it.

[code]

[2018-07-09 12:53] trippinCode commented on #148
@JohnnyQQQQ
maybe you could tell me where i need to put the node_cidr in the ~/.hetzner-kube/config.json?

[2018-07-10 13:12] voron opened #160 "hcloud-cloud-controller-manager isn't propagated to workers"
I just bootstraped k8s from hetzner-kube `0.3.2-SNAPSHOT`, and noted `hcloud-cloud-controller-manager` is not deployed on workers, neither during bootstrap nor during `cluster add-worker`. I had to follow https://github.com/xetys/hetzner-kube/issues/4#issuecomment-361984088 to get Hetzner metadata and IP to pull up into k8s.

[2018-07-10 13:20] voron commented on #160
I checked my deploy again, and it looks like pre-created workers have `20-hcloud.conf`, but I need to re-add worker node to k8s to have Hetzner metadata such as ProviderID, region, zone to appear. `cluster add-worker` workers  don't have `20-hcloud.conf` at all;

[2018-07-11 08:31] xetys commented on #160
Yes, that is desired to be this way. If I deploy the controller manager silently, you cannot use the `add extrernal worker` feature, as the cloud controller manager doesn't find the external server in the cloud (obviously) and deletes it immediately after registration. So I decided to move it to an add-on. So you can post deploy it using `addon install hcloud-cloud-controller-manager`

[2018-07-11 10:39] voron commented on #160
In my case I bootstraped k8, installed addon `hcloud-cloud-controller-manager` and then added 2 workers via `cluster add-worker`. Should these auto-created by hetzner-kube workers have `20-hcloud.conf` as Hetzner cloud instances ?

[2018-07-11 18:11] voron opened #161 "Custom kubeadm init parameters"
I'm trying to use local persistent storage. Due to k8s 1.9 I need to enable 3 feature-gates `PersistentLocalVolumes=true,VolumeScheduling=true,MountPropagation=true`
Thus we need to add `--feature-gates` to `kubeadm init` or add [data](https://stackoverflow.com/a/48775629/7482990) to `master-config.yaml`
What's the best option to do so?

[2018-07-12 04:22] voron opened #162 "kubernetes version select"
I see hetzner-kube supports k8s version select via [undocumented flag](https://github.com/xetys/hetzner-kube/blob/5ebf7a149be2c6066525e6ef0cb403e66ed840a8/pkg/clustermanager/provision_node.go#L13). Is there any option instead of patching default value in source and re-build hetzner-kube to choose k8s version to be deployed?

[2018-07-12 09:21] xetys commented on #162
sounds like an interesting feature. Is it an option to make a PR on that?

[2018-07-18 06:58] voron commented on #58
@JohnnyQQQQ I got ingress working via
[code]
not a `.[0]`

@cornelius-keller what about using [aledbf/kube-keepalived-vip](https://github.com/aledbf/kube-keepalived-vip) as base image, it looks like it supports multiple IPs per vip-configmap

[2018-07-20 07:55] trippinCode opened #163 "hetzner-kube cluster add-worker doesn't work"
So i tried to add a worker in the version 0.3.2-SNAPSHOT and got that error.
I created the cluster in the same version.

[code]
I'm operating on:
[code]

[2018-07-30 12:32] ginkel opened #164 "cloud-init not run on master?"
I am using hetzner-kube 0.3.1 to create a Kubernetes cluster with the `--cloud-init` flag to install python on all nodes (for subsequent management by Ansible):

[code]

[code]

Unfortunately, python is only present on the worker, running Ansible against the master fails due to python not being installed:

[code]

Any idea?

[2018-07-30 20:17] hg8496 commented on #164
Just tried it with version 0.3.1 and it worked. Maybe you need to wait a little longer? The cloud-init and the installation of kubernetes are not synchronized.

[code]
Without any further configuration. I did specify the path to the cloud-init file:
```hetzner-kube cluster create --cloud-init ~/projects/hetzner/cloud/cloud-init.info -n 3 --worker-server-type cx21 --name dev  --ssh-key hetzner```

[2018-08-03 09:42] jensleis commented on #163
I am getting the same error with 0.3.1-RELEASE (on mac) :(

[code]

[code]

[2018-08-03 15:21] eliasp opened #165 "World-readable PrivateKey in /etc/wireguard/wg0.conf"
The directory `/etc/wireguard` and the file `/etc/wireguard/wg0.conf` are both world-readable, possibly exposing the `PrivateKey=` to components/users which shouldn't have access to it.

[code]

[2018-08-05 04:36] voron commented on #148
@trippinCode I was able to "fix" it specifying node_cidr at the end of config, like following (output formatted by `jq` to pretty look, real config.json isn't formatted) :
[code]

[2018-08-06 09:47] JohnnyQQQQ commented on #163
This is a duplicate of #148

[2018-08-06 09:47] #163 closed

[2018-08-06 12:59] vitalka200 commented on #58
@exocode @cornelius-keller After deploying hetzner-keepalived-vip for some reason containers crashes with the following error
[code]

Somebody knows how to solve this?

[2018-08-08 07:39] monofone commented on #139
There is an option `--iface` to flanneld which can take an Interface name. By patching this in the flannel manifest and set to `wg0` this should work already.

[2018-08-16 10:15] mavimo commented on #122
@xetys @schliflo @JohnnyQQQQ @voron I start to create the E2E test suite (actually a PoC) that create context, add ssh-key (that are free operation on hetzner cloud) and I'm planning to introduce cluster creation, scaling and destroy.
You can find the WIP on https://github.com/mavimo/hetzner-kube/commits/introduce-e2e-tests (actually work as expected, but there are no assertion on task).

I'm inve

[2018-08-17 18:35] voron commented on #139
@monofone

I tried `--iface wg0` without success, no internal traffic worked. Didn't dig into it unfortunately.

[2018-08-20 14:50] monofone commented on #139
yes that's right, I experienced this behavior too

[2018-08-20 21:10] voron commented on #139
Looks like I found a work-around
* Add `--iface wg0` (2 lines) to flannel command line in kube-system flannel DaemonSet, kill all flannel pods to apply
[code]
[code]
* disable TX checksum offload for `flannel.1` interface on _all_ servers via
[code]
Just a PoC to test, we'll need to make checksum offload permanent in case of implementation of this solution

[2018-08-21 12:23] ericrange opened #176 "apt update"
N: Skipping acquire of configured file 'stable/binary-i386/Packages' as repository 'https://download.docker.com/linux/ubuntu xenial InRelease' doesn't support architecture 'i386'

[2018-08-21 12:27] JohnnyQQQQ commented on #176
This issue is very low quality.

Please consider open a new one with more information to reproduce any issue you may have faced with OS version, hetzner-kube version etc. and a description about the issue.

[2018-08-21 12:27] #176 closed

[2018-08-21 19:59] mavimo commented on #136
@xetys I plan to work on it when other PRs are merged (since start a new PR should generate a lot of conflicts when other are merged).

[2018-08-23 17:37] xetys commented on #136
yes, I will start reviewing your work ASAP

[2018-08-23 17:41] mavimo commented on #136
@xetys ok, thx! Let me know if there is something that need to be fixed / refactored / ... and thx for your support :)

[2018-08-23 18:05] xetys commented on #160
Possibly we need to add some kind of hooks into the addon section. So we define several hooks for different steps like adding nodes, where add-ons can hook into to run some custom code.

[2018-08-23 18:08] xetys commented on #139
I like your approach. Could you explain what's happening here?

About the permanent solution, is systemd a good way to do that? That's what I would do here if this solution is sustainable.

[2018-08-23 18:09] xetys commented on #57
is that still an issue?

[2018-08-23 21:05] voron commented on #139
As @monofone mentioned, there is enough to specify `--iface wg0` arg to `flanneld` to get flannel to work via `wg0` instead of default `eth0`. `flanneld` reports wg0's IP to k8s and then all nodes peer using node metadata annotations from k8s. ICMP starts to work already, but TCP is really-really buggy. I didn't investigated UDP though. I started to research TCP problem using [this article](https:

[2018-08-24 07:05] xetys commented on #139
Does this persist after doing reboots, because of the "oneshot" type?

[2018-08-24 08:05] voron commented on #139
It runs on every `flannel.*` interface creation. Thus it persist after reboots too, as flannel starts on every k8s node boot and creates it's interface.

[2018-08-24 08:27] xetys commented on #139
Then I think that is great material for a PR, WDYT?

[2018-08-28 06:26] martinseener commented on #57
Hi @xetys,
yes it is. Nevertheless i haven't tried it again since and currently have to time to move forward on the hetzner+kubernetes front but it didn't work in May. But as i said, haven't tried again since. If there was no change to the code that might have fixed it, it's still an issue i guess.

[2018-08-28 06:33] ginkel commented on #57
I tried last month when it didn't work and crashed with the backtrace above.

[2018-08-28 09:59] namxam commented on #57
Yeah, I am seeing the same issues on my machine. Too bad that this is an issue.

[2018-08-28 10:26] namxam opened #180 "Segmentation violation on cluster creation"
I am trying to setup a cluster but the tool throws an error:

[code]

The machines are up and running. So I tried to get the kubectl config file, but seeing this error:

[code]

[2018-08-28 11:13] xetys commented on #180
Which version are you using? The current build or the latest release?

[2018-08-28 11:15] namxam commented on #180
Oh sorry, forgot to add more context.

I tried both `0.3.1` and `0.3` on a mac with the 386 darwin builds.

Mac OS: 10.13.6

[2018-09-03 20:33] kaosmonk commented on #58
@JohnnyQQQQ referring to your comment https://github.com/xetys/hetzner-kube/issues/58#issuecomment-396896815, how did you do it since you're running the ingress as a DaemonSet? Did you assign the floating IP to all the workers where ingress is being run beforehand (I'm not even sure if the same floating IP can be assigned to different nodes at the same time)? Or how this should be done?

And when

[2018-09-05 13:04] vaisov opened #183 "Completion doesn't work"
Completion doesn't work on `hetzner-kube-linux-amd64`
[code]

[2018-09-05 13:07] JohnnyQQQQ commented on #183
Did you build from source?

[2018-09-05 13:14] vaisov opened #184 "Distro options"
Just curious why Ubuntu was chosen over Debian or even CoreOS?

[2018-09-05 14:14] xetys commented on #184
First of all, all that I write is my opinion and taste and feel free to correct me.

Why not Debian? Debian is my first distro and over time my favorite one because of its maturity and stability. However, I faced a lot of issues while playing with cutting edge of Debian, because it's not the home of cutting edge and doing that, can make things less stable.

Why not CoreOS? At the first time, I was

[2018-09-05 14:31] vaisov commented on #184
Whoah! Thank a lot for so comprehensive reply, appreciate that! :)
By the way, is it possible to provide the desired kubernetes version as argument or it won't work so easily as lots of things could change between versions? Also what about upgrade, any plans to integrate such functionality?

[2018-09-05 14:32] vaisov commented on #183
Nope, just downloaded the binary

[2018-09-05 14:37] JohnnyQQQQ commented on #183
It was merged 16 days ago, we didn't release since then

[2018-09-05 14:37] #183 closed

[2018-09-07 13:13] galexrt opened #185 "Kubernetes API Server count flag is statically set to 3"
As we talked today here is the issue 😄

https://github.com/xetys/hetzner-kube/blob/add8676eb2fab01bad7022400b4a1de762bc8f2b/pkg/clustermanager/cluster.go#L386-L392

I have an old patch ready which I'm happy to update to latest and create a PR for.

https://github.com/galexrt/hetzner-kube/blob/0211b58e1ace3f59e0dc26d001211f17b7db2f38/pkg/clustermanager/cluster.go#L424-L431

[2018-09-08 20:10] voron opened #186 "Disable updatedb"
I just hit a problem with updatedb on k8s nodes. It stucks inside mounted external disks such as rbd and prevent them to unmount and thus migrate. Here is lsof tail
[code]
Here is processlist
[code]
It would be nice to have mlocate/updatedb disabled during node provisioning

[2018-09-11 11:04] kaosmonk commented on #58
@voron can you share some more insights into `replicaCount` param? It depends on the number of edge routers but it's not clear to me what these are? Are these all worker nodes? Since nginx-ingress is being run as DaemonSet I'd suspect that. Or am I on the wrong track here?

In a case where I have 3 worker nodes in my cluster and ingress is running on each, I'd say I'd need to set `replicaCount` to

[2018-09-11 20:46] voron commented on #58
@kaosmonk it's a number of keepalived pods to be spawned across k8s nodes. I don't see the reason to use any other value than 2 .  If you need faster floating IP switch in case of **simultaneous** downtime of **2** k8s nodes, both with keepalived pod  - there may be a reason to increase this number.
But I can just wait in this rare case till k8s detects nodes downtime and re-schedules both keepali

[2018-09-11 21:01] kaosmonk commented on #58
Gotcha, I appreciate the explanation!

[2018-09-14 07:34] voron commented on #186
IMHO it would be great to have an ability to specify custom post-install script to run on all servers. This may provide required flexibility and simplicity.

[2018-09-17 21:49] Nomuas commented on #58
@cornelius-keller Good job !

Did you try to PR the add of the notify script in the original repo (kubernetes/contrib) ?

[2018-09-19 12:11] cornelius-keller commented on #58
@Nomuas  Thank you,  yes I did. It is here: https://github.com/kubernetes/contrib/pull/2912

[2018-09-19 15:06] quorak commented on #119
still does not work with 0.3.1 stable

[2018-09-22 10:29] farcaller commented on #180
Same here, running from HEAD.

[2018-09-23 07:18] quorak commented on #139
Hey guys,

just read through the issue here. Do I understand correctly, that the traffic between the nodes is not encrypted, opposed to #128 ?

Maybe we should declare this explicit in the repos README, as long as we got this covered. Might be a deal breaker for some evaluators.

best

[2018-09-24 13:10] smirnov-mi commented on #184
Very good points on stability, xetys. Still, would it be possible to add an argument for choosing host OS ?   Something like --os ub16 / ub18 / fed27 / fed28 / deb9 / cent7  or similar.

[2018-09-28 17:43] lilvinz commented on #80
It seems that it has been fixed upstream. When installing heapster now it just works.

[2018-09-28 17:43] #80 closed

[2018-09-29 05:09] voron commented on #80
I'm still having similar issue with `mertics-server 0.3.0`, but `heapster 1.5.2` works for me in `kube-system` namespace

[2018-09-30 16:22] EamonKeane opened #187 "Metallb Network Load balancer"
This looks great. I'm just curious whether you considered metallb for load balancing?
https://github.com/google/metallb

This would mean zero changes required to yaml when moving from say GKE to hetzner, unless I'm missing something.

[2018-10-01 06:44] adrianog commented on #33
Can I create the initial ha masters on hetzner dedicated servers directly (with hetzner-lube taking care of wireguard?). Or am I forced to use hetzner cloud to bootstrap the cluster with hetzner-cube?

I have this idea of getting the wireguard part running first (on a bunch of hetzner dedicated) , then run the openshift okd  playbooks (both pre-requisites and then full openshift install): is these

[2018-10-01 10:20] xetys commented on #17
as of the current version, the "setup kubernetes" logic is not hardly coupled to the hetzner cloud API. It only depends on a set of servers, which are reachable over SSH.
In so far it is theoretically possible to use hetzner-kube on any server you like. Practically there is no way how to tell the CLI to do that.

The right way would be to provide a config file with all servers listed.

Is that in

[2018-10-01 11:41] xetys commented on #17
The preconditions for the servers? They should exist, with ubuntu 16.04 and SSH access. That's it.

The preconditions for hetzner-kube? The CLI itself is checking the API in order to decide if it should create new servers or not. If it asks the API and the servers do exist, then it just do the actual installation. This doesn't depend on hetzner anymore. So the precondition would look like:

[code]

[2018-10-01 11:46] adrianog commented on #17
But there is no private networking setup between the servers so that is also something that I must add to the preconditions? Surely I don't want to talk on the public IP without wireguard / some form of VPN?

[2018-10-01 11:48] loxy commented on #17
Maybe Rancher is something for you:
http://rancher.com
https://github.com/rancher/rancher

[2018-10-01 15:04] adrianog commented on #17
Thank loxy, but that all seems to be Hetzner Cloud specific, and I have dedicated bare metal servers. The cost muliplier on Hetzner Cloud as opposed to bare metal seems to be in the region of 5X/10X .

I am very happy with my dedis, just want a way to deploy k8s, openshift on it.

Looks like the best route is manually setup wireguard on the public IP, and then use Openshift ansible playbooks / [Le

[2018-10-01 15:17] loxy commented on #17
With Rancher you can easily install on bare metal AND on cloud providers side by side to construct a cluster. It is much like hetzner-kube for all kind of servers, clouds, vm etc. I thought you are interested in hetzner, thats why I posted the links. You should have a look...

hetzner-kube is more specific, but also a great tool. But I think out of scope for your kind of requirements

[2018-10-01 16:01] xetys commented on #17
so you are looking for a wireguard solution? I did a side project called wgctl (https://github.com/xetys/wgctl) which actually uses hetzner-kube internals do just setup wireguard on any server you want.

As @loxy said, you can use rancher 2 for your setup. I have bad experience with rancher until 1.6.x, but 2 is doing almost good. I compared how RKE is doing stuff when it comes to HA and stuff, an

[2018-10-01 16:13] adrianog commented on #17
Thanks xetys, I'm having a look at the source code for hetzner-kube  and it looks good - you're right it's just a matter of separating node provision (skip this from the cloud, use list passed in) from node setup (wireguard etc, this I will use thank you :-)), and the kubernetes setup (will use this as well, or might plug in some ansible stuff if I want to stop at the wireguarding).

I'll take a l

[2018-10-01 18:01] adrianog commented on #17
Just to add on to my own comments in case someone finds it useful: Hetzner [DOES seem to support private networking with a vSwitch on your dedis](https://wiki.hetzner.de/index.php/Vswitch/en). I was misled by an [old twitter comment](https://twitter.com/hetzner_online/status/955781300513857536?lang=en) that I think only applies to Hetzner Cloud.

That changes the game - I still like rancher after

[2018-10-02 19:44] MartinNowak opened #188 "config with API tokens is world-readable by default"
The config file should be created with permissions 0600, so that other users of the machine cannot read the secret API keys.

[2018-10-02 19:51] MartinNowak opened #189 "use $XDG_CONFIG_HOME as config base dir"
To follow the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html), simplify administration and backup, and avoid messy home directories.

The default for an undefined `$XDG_CONFIG_HOME` is `$HOME/.config`.

Would prolly make sense to put the config in a subfolder, i.e. `$XDG_CONFIG_HOME/hetzner-kube/config.json`. A plain file would be OK

[2018-10-02 20:16] MartinNowak opened #190 "API token should not be echoed to console"
The hcloud-cli project uses [`terminal.ReadPassword`](https://github.com/hetznercloud/cli/blob/1e61bc4bb1b589dada63296a95dfbe2292fb3349/cli/context_create.go#L43) from [`golang.org/x/crypto/ssh/terminal`](https://godoc.org/golang.org/x/crypto/ssh/terminal#Terminal.ReadPassword).

[2018-10-02 20:30] MartinNowak opened #192 "segfault during cluster creation"
[code]

[2018-10-07 11:23] Zebradil opened #195 "Unmet dependencies on cluster create"
Got the following error while trying to create a new cluster:

[code]

As a workaround I explicitly added `kubernetes-cni=0.6.0-00` into installation instruction:

[code]

[2018-10-07 11:37] JohnnyQQQQ commented on #195
@Zebradil I just merge #193 which will fix the issue. You can build from source if you need the fix now.

[2018-10-07 11:38] Zebradil commented on #195
Cool stuff. Thanks!

[2018-10-07 11:38] #195 closed

[2018-10-07 19:39] smirnov-mi opened #196 "kubernetes-cni (= 0.6.0) but 0.6.0-02 is to be installed"
Hi mate,
I've been using hetzner-kube 0.3.1 since about 5 or 6 weeks. It was good. But since today I see this error during installation of the cluster in the updating packages section:

run failed
command:apt-get install -y docker-ce kubelet=1.9.6-00 kubeadm=1.9.6-00 kubectl=1.9.6-00 wireguard linux-headers-$(uname -r) linux-headers-virtual
stdout:Reading package lists...
Building dependency tree.

[2018-10-07 21:31] Zebradil opened #197 "Create cluster is not working with the latest k8s version"
I think it is somehow related to #162.

I tried to switch to the latest available k8s version, but the cluster creation process failed with the following info:

[code]

I tried to figure out what's wrong but got stuck. It seems like `--debug` flag changes nothing.
I checked created nodes and didn't even find `/root/master-config.yaml` file which (if I'm not mistaken) should be already there before

[2018-10-07 21:44] Zebradil commented on #197
The version which failed is `0.12*`. I tried `0.10*` and it works (I needed it, because it supports ConfigMap with binaryData field).

[2018-10-07 22:01] #196 closed

[2018-10-08 08:32] JohnnyQQQQ commented on #197
Can you give me the specific command you typed in to start the installation?

[2018-10-08 09:09] Zebradil commented on #197
I pulled the last version of hetzner-kube from master, changed `k8s-version`:

[code]

and created cluster with `hetzner-kube cluster create --debug --name demo --ssh-key demo`

[2018-10-08 09:45] smirnov-mi commented on #196
Thanks! Confirmed. It works well today. (11:45 CEST)

[2018-10-08 15:01] rvasilev commented on #197
@Zebradil configuration files of k8 1.9 and 1.12 are incompatible, that's not enough just to change the version number. But you could install 1.9 and gradually upgrade to 1.12.

[2018-10-08 15:02] Zebradil commented on #197
Thanks! I'll try it.

[2018-10-08 17:38] rvasilev opened #198 "MasterConfiguration should be changed to support more recent k8"
There were a number of changes in kubeadm configuration file structure between 1.9 and 1.11 (https://github.com/kubernetes/kubernetes/pull/63788) and 1.11 to 1.12 (https://github.com/kubernetes/kubernetes/pull/65945), because of this changing of k8 version in the source (#162, #197) will not work.

The easiest workaround IMO - to bump `apiVersion: kubeadm.k8s.io/v1alpha2`, set #162 to 1.11, create

[2018-10-14 19:32] tobias-reese commented on #192
Seems to be a duplicate of #180. Please close this.

[2018-10-14 19:53] tobias-reese commented on #180
Same problem here. Also running from current HEAD. Tried go Version 1.11.1 on Ubuntu 18.04 and 1.10.4 on Fedora 28-1.1. Happy to provide more information if needed.

[2018-10-15 18:14] mavimo commented on #180
@tobias-reese @farcaller @namxam can you give us more context? Are you able to reproduce the issue or is random failure? Your connection is stable/run on VPN/..?

[2018-10-15 18:28] farcaller commented on #180
It's 100% reproducible for me with a similar stacktrace. My connection is as stable as it gets.

[2018-10-15 18:35] mavimo commented on #180
@farcaller what OS are you using? There are any infos that you think should help us to debug?

We are running E2E test to deploy a cluster on *hetzner* in master branch and we are unable to reproduce, can you try with code in master?

[2018-10-15 18:37] farcaller commented on #180
OSX host here. Will try to repro from HEAD and report back.

[2018-10-15 18:41] mavimo commented on #180
@farcaller can you also post `go version`? I'm testing it just now on
[code]

[2018-10-15 18:56] tobias-reese commented on #180
Installed via:
`# go get -u github.com/xetys/hetzner-kube`

Go version: go1.11.1 linux/amd64
Ubuntu 18.04

Always reproducable, also stable connection.

Could you instruct us to run the E2E tests locally with own API Token?

[2018-10-15 19:02] mavimo commented on #180
@tobias-reese they are not supposed to be run on local env (actually), can you try with (I can test now, I'm on a train with bad connection):
[code]
the full E2E test suite take approx 45mins

[2018-10-15 19:03] mavimo commented on #180
@tobias-reese maybe you can run `test-cluster-without-ha` instead of `test-all` that will be faster

[2018-10-15 20:38] tobias-reese commented on #180
@mavimo Got some interesting results. The tests worked perfectly. At least until testing-cluster-1-with-ha-level4. While this test i ran into this error:
[code]
Which might be related to some limits i have on the hetzner api.

After some time i ran my initial command again, which is:
`# hetzner-kube cluster create --name demo --ssh-key root`

Still the same result... I tried diffrent parameters wh

[2018-10-15 20:43] mavimo commented on #180
@tobias-reese the issue you see (reported as `resource_unavailable`) is related to limit that Hetzner impose by default (10 running server), but you can ask them to extend it.

About SSH key... nice catch!

I'll go to investigate it a bit, can you indicate how do you generate the key (tools/version you used, ..) or can you generate a new keypair that can be used to reproduce the issue?

[2018-10-15 20:47] farcaller commented on #180
Nice catch @tobias-reese; that might be it. I have new format ssh keys too.

You can easily generate one with e.g. `ssh-keygen -t ed25519` (those always use the new key format)

[2018-10-15 20:50] mavimo commented on #180
@farcaller @tobias-reese I see a bunch of issue related to `ed25519` format on official [golang repo](https://github.com/golang/go/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+ed25519+) I'll go deeper to find hot to solve, I'll keep you update!

[2018-10-15 20:53] farcaller commented on #180
On a side note, can't you treat the ssh pubkey as an opaque blob?

[2018-10-15 20:57] tobias-reese commented on #180
@mavimo Thank you for your support on this. While i also have a `ed25519` key. The key i used has `rsa` algorythm. The key i used was created by this command:
`# ssh-keygen -t rsa -b 4096 -o -a 100`

So the problem is most likely related to keys created using the -o option. Which is automatically the case when creating `ed25519` keys.
[code]

[2018-10-15 21:03] mavimo commented on #180
@tobias-reese thx you too on effort to run the full E2E test suite and check SSH key ;)

@farcaller since we are not going to use any external tool to handle SSH connection we should not consider it as opaque blob, we should use it to generate a connection & c.

see https://github.com/xetys/hetzner-kube/blob/master/pkg/clustermanager/ssh_communicator.go

As a temporary solution I'll suggest to use

[2018-10-15 21:05] farcaller commented on #180
Ah, that explains it why you'd need a private key at all, thanks for pointing it out.

[2018-10-15 21:05] mavimo commented on #180
@tobias-reese as side note, I think Hetzner have some issue because the current E2E test suite fail also on our env for `resource_unavailable`: https://travis-ci.org/xetys/hetzner-kube/jobs/441822858#L795-L804

[2018-10-15 22:09] tobias-reese commented on #180
@mavimo For me it seemed that the limits from hetzner include some sort of cooldown. Since just by calculating the number of created servers my limit shouln't be reached and simply waiting some time solved the issue.

I added a `sleep 180` in front of test-cluster-with-ha-level3 and 4. This lead to a complete test run.

[2018-10-17 09:41] lakano commented on #87
Hello!
Kubeadm support upgrading with external etcd since May. So, this should help for hetzner-kube upgrade ?
We follow your project since many months, but we would like to be sure if we install it in production, we could upgrade it after.
Or may be it's still not recommended to uses hetzner-kube in production ?

[2018-10-18 07:29] mavimo commented on #187
@EamonKeane when I investigate MetalLB project some time ago it need to have control of router (ad need to have a router speaking GDB protocol inside the network).

Hetzner do not offer this kind of infrastructure (as far I know), to you have time to investigate if it can be used or have some suggestion about MetalLB usage?

[2018-10-18 07:32] EamonKeane commented on #187
Thanks @mavimo . Metallb also has a layer 2 mode which assigns node IPs to your reverse proxy (e.g. nginx-ingress). I have it working on a (one node) cluster using the VM IP that Hetzner assigned. For whatever reason, using a second Floating IP assigned to the same VM doesn't work.

[2018-10-18 07:38] mavimo commented on #187
@EamonKeane interesting! Can you share some more detail (if possible) of your current configuration? Config files, how do you setup it & c should be really useful information to investigate it :)

[2018-10-18 07:45] EamonKeane commented on #187
@mavimo sure. Steps to reproduce what I have are:

* Create a one node hetzner cluster (I use 8 core/32 gb ram)
* Install kubeadm (I used 1.12.1 and weavenet but not sure that matters)
* Change the assigned VM IP on this line:
https://github.com/EamonKeane/k8s-cluster-services/blob/master/cluster-svc/values.yaml#L19
* Helm install the cluster chart (you only need to have metallb and nginx-ingress

[2018-10-19 20:44] mavimo commented on #119
this issue is related to (fixed in master) https://github.com/xetys/hetzner-kube/commit/b1e900c1a5718525b66fb8e4445f9bed08e55dfe

User that need to migrate should fix the `~/.hetzner-kube/config.json` by adding the entry `"node_cidr": "10.0.1.0"` to the cluster definition, like:
[code]

[2018-10-19 20:47] mavimo commented on #122
@xetys do you think we can close it and open more specific issue for the "next steps" ?

[2018-10-19 20:49] mavimo commented on #110
@exocode are you able to replicate it using `master`?

[2018-10-20 10:09] exocode commented on #110
@mavimo Hi, tried it with the master branch: SAME RESULT: `2018/10/20 12:05:55 context 'my-cluster' not found`

[code]

[2018-10-20 17:46] kabudu opened #207 "Cluster add-worker panic runtime error"
Hetzner Kube version: `0.3.1-RELEASE` (output of `hetzner-kube version`)
OS: `Fedora release 26`
Go version: `go version go1.8.7 linux/amd64`

Just tried to add a worker to my cluster using the following command:

`hetzner-kube cluster add-worker --datacenters fsn1-dc8 --name prod-general --nodes 1 --worker-server-type cx21-ceph` and had the following panic runtime error:

[code]

Checking in the

[2018-10-20 19:33] JohnnyQQQQ commented on #207
Duplicate of #148

[2018-10-20 19:33] #207 closed

[2018-10-27 18:05] mavimo commented on #180
refs https://github.com/xetys/hetzner-kube/issues/57

[2018-10-27 18:39] mavimo commented on #180
@tobias-reese @farcaller @namxam

I spent some time today to investigate this issue but i'm not able to reproduce it at all, the step I do:

1. I create a new private key:
[code]
1. Create a new context on hetzner cloud
[code]
1. Set the context created above as the active context:
[code]
1. Upload the generated key:
[code]
1. Create a new cluster:
[code]

after few time I have my cluster up & run

[2018-10-27 18:40] mavimo commented on #180
@martinseener @hojerst @hojerst see my last comment, can you check it?

[2018-10-27 18:44] mavimo commented on #148
I'm going to close it since should be already fixed

[2018-10-27 18:44] #148 closed

[2018-10-27 18:45] #122 closed

[2018-10-27 18:47] mavimo commented on #156
@thordin9 can we close it?

[2018-10-27 18:57] hojerst commented on #180
@mavimo You actually creating a rsa key with "-t rsa", just with "ed25519" in the file name.
Use `ssh-keygen -t ed25519 -f filename` to create an ed25519 key.

[2018-10-27 19:20] xetys commented on #122
yeah. Further steps will improve the quality of e2e, but its already existing.

[2018-10-27 21:48] mavimo commented on #180
@hojerst retried with key generated using
[code]
same result:
[code]
generated keys:
**private:**: `~/.ssh/id_temp_ed25519`
[code]
**public:**: `~/.ssh/id_temp_ed25519.pub`
[code]

[2018-10-28 17:06] hojerst commented on #180
@mavimo I was able to reproduce the seg fault problem on my machine: It seems the cluster creation works just fine for unencrypted keys using the new storage format (regardless of key type). However, it fails with a sigsegv when the key is encrypted.

This is true for both RSA and ED25519 keys:

[code]

[2018-10-28 20:40] mavimo commented on #180
@hojerst thx for init, I'll try to reproduce using encrypted keys

[2018-10-31 22:37] gadelkareem opened #216 "Cloud-init file is not running"
Running the command `hetzner-kube cluster create --name demo --ssh-key demo --cloud-init cloud-init.yml`

And the cloud-init is:
[code]

I see that the data is sent correctly to hcloud-go library but with no effect. Not sure where exactly is the problem.

[2018-11-01 19:32] mavimo commented on #180
FYI the issue is related to the missing capability on golang stdlib to handle new SSH format (see https://github.com/golang/go/issues/18692 ) that is now the default format in OpenSSH.
I'm try to integrate https://github.com/ScaleFT/sshkeys that should support the new format, I'll keep you updated

[2018-11-03 13:01] #136 closed

[2018-11-11 22:04] mavimo commented on #197
@gridworkz there are a PoC that run the new cluster on this PR https://github.com/xetys/hetzner-kube/pull/208 but need some more work, we'll update the project state when the new cluster config will work as expected ;)

[2018-11-12 21:14] mavimo commented on #189
@MartinNowak @eliasp can you test the PR reported and give me some more feedback? Thx! 🤗

[2018-11-13 13:39] #189 closed

[2018-11-13 22:56] mavimo opened #221 "Switch to go1.11 with go.mod as dependency manager"
SSIA

[2018-11-13 22:57] mavimo opened #222 "Switch to go1.11 with go.mod as dependency manager"
SSIA

[2018-11-14 20:53] smirnov-mi commented on #112
I'm facing the same issue right now. Did someone get any responce from Hetzner last time?

[2018-11-15 08:36] smirnov-mi commented on #112
@mavimo    Very funny. Makes totally sence for a cluster. I'm in contact with them now, they asked "which datacenter you use" - so my reply is "2 servers in each DC dude, it's supposed to be a HA cluster". We'll see..

[2018-11-15 09:07] jcassee opened #225 "Support zsh for completion"
Even with `autoload -U +X bashcompinit && bashcompinit`, the completion does not work with zsh, because `type -t` does not exist. I'm not sure what the correct command is for zsh, unfortunately.

[2018-11-15 09:12] jcassee commented on #146
@JohnnyQQQQ I'm still seeing this panic in version 0.3.2-rc1, is that expected?

[2018-11-15 14:38] smirnov-mi commented on #112
While still waiting for any reaction from Hetzner, I tried "--datacenters nbg1-dc3" and it also helped.
(3 Masters + 3 workers)
I also tried "--datacenters nbg1-dc3,hel1-dc2" and it also worked.
"--datacenters nbg1-dc3,fsn1-dc8" - did NOT work, so I guess fsn1-dc8 has some problems.

[2018-11-20 09:18] CuBiC3D commented on #216
Do you have `#cloud-config` as the first line? This is required.

[2018-11-20 18:05] gadelkareem commented on #216
that fixed it thanks!

[2018-11-20 18:05] #216 closed

[2018-11-25 15:39] mavimo opened #234 "Developer experience improvement (DX initiative)"
Hi guys,
there are some "bug" on user experience and I'll like to fix it, but before start I think we should find a solution that should match the expectation of much people as possibile.

### Command consistency

As end-user there are command that are not consistent on usage, some time we use flag, some time we need to user args, eg:

 - `hetzner-cloud context delete` use **arg** do indicate the

[2018-11-25 16:38] gadelkareem commented on #234
Thanks @mavimo for this proposal. I agree that there is inconsistency with the command structure, but I see this often in packages that are in the early development phases, which should eventually be refactored.

I needed the debug mode to dump a log file so I used the --debug flag in https://github.com/xetys/hetzner-kube/pull/231 but it is still not available for all commands

[2018-11-26 10:31] #225 closed

[2018-11-26 10:38] xetys commented on #234
I am totally fine with this proposal. I will add it to our v1.0.0 project.

[2018-11-26 10:59] Zebradil commented on #234
I'm not using the tool currently, so don't take my opinion too seriously, but I completely agree on the first two points:
- I'd prefer using **arg** instead of **flag** for essential parameters
- It'd be great to have consistent behaviour for `--debug` flag

According the help message. I'd like to see extensive help only if there are only a few options and variations of subcommands. In the other c

[2018-11-26 11:07] Zebradil commented on #234
Just to clarify why I prefer alphabetical order instead of priority order.

alphabetical order:
- always consistent
- easy to find a needed line

priority order:
- could be subjective (not always clear if command is more important than an other)
- hard to find a needed line
- useful for beginners, who doesn't know where to start (though, it should be covered in man pages or online docs)

[2018-11-26 18:38] mavimo commented on #234
@Zebradil thx for info you share with us; about using `man` I'm not sure it's the right approach since this is a single executable binary that will be installed via:

    wget http://... -o /usr/local/sbin/hetzner-kube
    chmod +x /usr/local/sbin/hetzner-kube
    /usr/local/sbin/hetzner-kube ...

So there is no setup process as we have via RPM / DEB / Windows Wizard, so I'm not sure have man page

[2018-11-30 11:51] #129 closed

[2018-12-06 14:45] sergolius commented on #147
Got this error.
Env: MacOS Mojave, version 10.14.1
Used release: hetzner-kube-0.3.2-rc1-darwin-amd64

### Debug:
[code]

[2018-12-06 14:56] mavimo commented on #147
@sergolius take a look to https://github.com/xetys/hetzner-kube/issues/180

[2018-12-06 15:35] sergolius commented on #147
@mavimo thanks, just viewed it

[2018-12-16 13:43] marzelwidmer commented on #112
I also had the same issue.... And have to add ```--datacenters nbg1-dc3,hel1-dc2```  when I create the cluster ``` hetzner-kube cluster create ```

[2018-12-17 15:32] sam0104 commented on #77
I am using port 22 and xrdp port (3389) for some services . Which is working fine in AWS with AWS LB for each exposed service . The problem in AWS it has limit for LB and I can't use more than few hundred per region.  I am looking for some solution ingress solution which can expose TCP ports like 22 , 389 and some other TCP ports .

[2018-12-20 09:44] smirnov-mi opened #236 "Cluster create don't work since yesterday"
ERROR MESSAGE:

run failed
command:apt-get update && apt-get install -y apt-transport-https ca-certificates curl software-properties-common
stdout:Reading package lists...

stderr:Process exited with status 100

COMMAND RUNNING:
hetzner-kube -d cluster create -d --name MMM --ssh-key demo --master-server-type cx11 --worker-server-type cx11 --ha-enabled true -m 3 -w 3 --self-hosted true  --datacente

[2018-12-20 10:04] Exellion commented on #236
I have the same problem

[2018-12-20 10:06] Quantower commented on #236
Yes, does not work for me too.

[2018-12-20 14:56] smirnov-mi opened #237 "default datacenters - ERROR"
Falkenstein DC was renamed to fsn1-dc14 .
You still have the old name fsn1-dc8 in the cluster_add_worker.go and cluster_create.go sources.

Workaround - define DCs manually e.g.       --datacenters nbg1-dc3,hel1-dc2,fsn1-dc14

[2018-12-20 15:08] Exellion commented on #236
What version of GO do you use? I try with 1.11, but errors still occured

[2018-12-20 15:32] smirnov-mi commented on #236
go get -u github.com/xetys/hetzner-kube
go version go1.10.4 linux/amd64

[2018-12-20 16:10] mavimo commented on #236
maybe related to https://github.com/xetys/hetzner-kube/issues/237 ?

[2018-12-21 01:01] kiloreux opened #238 "Default configuration insecure"
I just did some tests on a cluster that I created with this tool. It seems vulnerable security wise.

- `/pods` endpoint exposes all available pods on a node without any security or authentication
- Anonymous authentication leading to the possibility of RCE which is severely dangerous.
- Besides cluster health being exposed also.

I understand this is a hobby project and I love it. And even though

[2018-12-21 15:18] pushthat opened #239 "Default kubernetes version is not secure (CVE-2018-1002105)"
Let's update hetzner-kube to the latest version so we are not impacted by the breach !
https://nvd.nist.gov/vuln/detail/CVE-2018-1002105

[2018-12-21 15:22] pushthat commented on #239
#240

[2018-12-21 15:22] pushthat commented on #239
pr #240 should do the trick

[2018-12-21 18:39] mavimo commented on #239
@pushthat can you move back to 1.9.11 (or the last patch version of the same minor)

[2018-12-21 21:06] pushthat commented on #239
Yes
Do you think we could add a option to select the version we want to deploy ?

[2018-12-24 11:48] pushthat commented on #239
@mavimo I didn't double check earlier but unfortunatly 1.9.11 is not fixing CVE-2018-1002105.

[2018-12-30 14:32] mavimo commented on #237
Hi @smirnov-mi, the HC API report that both definition are fine:
[code]

[2019-01-02 10:42] smirnov-mi commented on #236
nope, it was different. BTW. rebuild the hetzner-kube again. Just tested the older version and it didn't work (2.Jan.2019). Rebuild from the current sources - OK.

[2019-01-05 08:49] mkozjak commented on #112
Just hit the same issue. For now the `nbg1` location is unavailable. Tried setting datacenter to `nbg1-dc1`, but it didn't work. Probably a Hetzner issue? I hit this directly with Terraform's hcloud_server resource.

[2019-01-12 17:52] ntimo commented on #121
Hello,
do you have any news about this? Being able to install hetzner-kube via brew would defiantly be awesome.

[2019-01-13 11:05] schliflo commented on #121
#155 is still unresolved - so no news/progress

[2019-01-14 14:56] robinbraemer opened #242 "Add Knative addon"
Please add the Knative k8s addon

[2019-01-21 10:56] gigo1980 commented on #242
+1

[2019-01-24 17:33] Baughn commented on #238
To be clear... Running this in its default configuration would allow anyone to authenticate and add jobs?

That's surprising, and extremely dangerous. There are already reports of scrapers searching the internet for such misconfigured Kubernetes clusters, so a configuration like that isn't safe for any amount of time.

[2019-01-25 08:10] xetys commented on #238
hey,

thanks for the extremely important input and I wanna address these issues for the 1.0 project.

Could you please add a few more details on these vulnerabilities?

[2019-01-25 08:12] mavimo commented on #238
@xetys FYI I already investigate and tested it in the upcoming 0.4.x and should be fixed (I suppose is related to CVE on 1.9.11).

[2019-01-25 13:34] Baughn commented on #238
@mavimo Is this something we can add automated tests for? I may despise Go, but I could set _that_ up pretty easily. How exactly did you test?

[2019-01-25 14:10] mavimo commented on #238
@Baughn I deployed a new cluster and try to contact the master via API (using curl)

[2019-01-25 20:33] mavimo commented on #238
@Bessonov thx for point us on this tool, as I can see is not updated to the last version of K8s, do yo know if they are working on it?

[2019-01-25 20:37] Bessonov commented on #238
@MartinNowak I've run it against my test cluster with 1.13.2. Worked fine.

BTW: https://github.com/kubernetes/kubernetes/issues/73108

[2019-01-25 20:40] mavimo commented on #238
@Bessonov thx to point me in, I'm try to run the config on the 1.13.2 cluster created from hetzner-kube, I'll report ASAP and for sure I'll try to make it run in CI ;)

[2019-01-25 20:50] mavimo commented on #238
@Bessonov current status:

master
[code]

node:
[code]

some really nice tips!

[2019-01-28 10:20] xetys commented on #222
closed via #223

[2019-01-28 10:20] #222 closed

[2019-01-29 12:54] xetys commented on #184
after having some hard work on ubu18, currently, this option would cause some real developing overhead.

The current design is stuck to a concrete distro, which for now is ubuntu 18. Having the option to choose different distros would be a good thing from the user side. But on the other side this means:

1. the code structure must be changed to enable easy customizing for each distro. Currently, w

[2019-01-29 12:54] #184 closed

[2019-01-29 12:54] xetys commented on #221
is already done

[2019-01-29 12:54] #221 closed

[2019-01-29 12:55] xetys commented on #198
This has happened in #243

[2019-01-29 12:55] #198 closed

[2019-01-29 13:08] andrei-dascalu opened #245 "hetzner-kube cluster kubeconfig"
Hello,

In a related note to the [closed ticket](https://github.com/xetys/hetzner-kube/issues/71) on kubectl config overwrite, currently to manage kubectl context you can:
- backup current config and have hetzner-kube replace it
- dump the config by hetzner-kube into a separate file and pass that context manually to kubectl
- same as above but use a file rotation tool

However, most other cluster

[2019-01-30 19:09] roock commented on #96
This issue also occurs if your private key is on a separate device e.g. Smartcard or Yubikey.

[2019-01-31 16:06] Quantower commented on #236
We see this problem again. Rebuilding of hetzner-kube does not help

[2019-02-09 18:36] md2k commented on #58
Hi all, while keepalived work as expected with this script traffic cannot be routed thru wg0.
for example we have HA k8s cluster
[code]

and current keepalived master on server where api endpoint 10.0.1.1.
Everything is ok, because keepailived master, endpoint of service on same server, but if i kill keepalived pod, master moved to another one, while floating ip moved successfully keepalived conti

[2019-02-09 18:39] md2k commented on #58
another possibility to use ClusterIP,  because cluster IP is a just internal firewall rule (DNAT), but i not sure how to retrive ith with keepilived (need to dive into their code)

[2019-02-10 01:16] md2k opened #246 "Cloud-init package installation cause error 100"
Hi, i know that 100 is mostly safe failure and send run will go ok, but i think it is necessary to implement check if apt/apt-get/yum whatever is currently running or cloud-init completely finished its tasks and only then start what hetzner_kube want to do.
[code]
This error just means, that apt already running and doing its dirty hacks, also cloud-init writing output log where pretty simple catch

[2019-02-10 18:50] md2k commented on #246
according to docs from cloud-init we can hook on `/var/lib/cloud/instance/boot-finished`
I did fast check and this file touched with some info only when cloud-init finished its tasks:
[code]
I;ll try to do PR with simple check, because otherwise this tool hard to use in case you need to run something with cloud-init.

[2019-02-11 18:33] md2k opened #248 "Here new security breakout: CVE-2019-5736"
Hi guys, it will be awesome if we can upgrade version of k8s due this one : https://seclists.org/oss-sec/2019/q1/119

[2019-02-12 10:01] xetys commented on #248
which version would this be?

[2019-02-12 11:13] #246 closed

[2019-02-12 11:17] md2k commented on #248
this CVE about docker/LXC issue, while patch already in place, i didn't checked yet for updates, going to check later today if docker repo already have updated version.
in short: we're safe unless we run privileged containers from unknown/not trusted sources. (more or less safe :) )

[2019-02-13 22:36] md2k commented on #248
Official What-to-Do from Kubernetes: https://kubernetes.io/blog/2019/02/11/runc-and-cve-2019-5736/

[2019-02-13 22:37] md2k commented on #248
Upgrading runc can generally be accomplished by upgrading the package runc for your distribution or by upgrading your OS image if using immutable images. This is a list of known safe versions for various distributions and platforms:

Ubuntu - runc 1.0.0~rc4+dfsg1-6ubuntu0.18.10.1
Debian - runc 1.0.0~rc6+dfsg1-2
RedHat Enterprise Linux - docker 1.13.1-91.git07f3374.el7 (if SELinux is disabled)
Amaz

[2019-02-13 23:35] md2k commented on #248
tried to get latest docker , but failed to run. need further investigation..:(

[2019-02-13 23:38] md2k commented on #248
ok looks like issue in changed location of containerd sockt file.
[code]

we looking it at: `/var/run/docker/containerd/docker-containerd.sock`
its new location is: `/var/run/containerd/containerd.sock`

[2019-02-14 00:05] md2k commented on #248
seems issue more deep.
here error:
[code]

[2019-02-14 00:32] md2k commented on #248
seems containerd ip different from containerd shipped with docker 18.06. since i'm not have much experience with containerd it will take some time. :(

[2019-02-14 11:34] md2k commented on #248
I'm planing to try once again by enabling CRI plugin with new containerd, but maybe for this upgrade (to fix CVE-2019-5736) we need switch back to use vanila docker instead of containerd. unless here some really important  requirements to use `containerd`.
@xetys can you give me a bit input why decision was made for containerd instead of vanila docker ?

[2019-02-14 11:53] xetys commented on #248
this is because k8s still works with docker 17.03, which is no longer shipped with ubuntu 18.04. On the other side, docker 18.06 ships with its own containerd implementation, which is supported by k8s. So k8s doesn't support docker 18.06, but it does support its containing containerd.

Of course, we can silence the docker check on installation, but I want to ship a container runtime k8s officially

[2019-02-14 12:08] md2k commented on #248
Kubernetes 1.13.0 officially recognise and support 18.06 and newer, so maybe i'll better do a check with Docker 18.09.2 instead of having fights with new containerd? :) or maybe add parameter to give people options to use 18.06 with contanerd or 18.09 with vanila docker ?

[2019-02-14 12:11] md2k commented on #248
because i have strong feeling that cri plugin dose not fully tested with 1.13 Kubelet and what is more bad cri plugin does not match newest containerd fully yet :(

[2019-02-14 14:12] xetys commented on #248
Oh, I didn't notice k8s finally made it supporting newer docker versions. Of course, let's try this first! But will this help with the CVE?

[2019-02-14 14:37] suchwerk commented on #248
You will get a warning with k8s 1.13.3: `[WARNING SystemVerification]: this Docker version is not on the list of validated versions: 18.09.2. Latest validated version: 18.06`.

[2019-02-14 14:48] md2k commented on #248
@suchwerk according to official release notes it supported , but yes default version is 18.06.
but to eliminate CVE we need move further to 18.09.2 or check if for example ubuntu have own release of 18.06 with required patches, include runc and containerd.

@xetys yes, on kubernetes website (link some where above) they provide list of versions for packages which is have patch to eliminate CVE.

@s

[2019-02-14 20:31] md2k commented on #248
@suchwerk not sure where you seen message you posted, but from logs regarding docker versions only this :
[code]

[2019-02-14 20:59] md2k commented on #248
PR is here GH-249

[2019-02-15 15:25] xetys commented on #248
not sure about the optional switch, as it makes stuff more complicated and I don't get the real value for the user. WDYT?

[2019-02-15 15:33] md2k commented on #248
yeah, more i'm think about `switch` then more i think we not need it.
only question i have because as from my own perspective i not have much preferences to work with contianerd over docker-shim or use containerd directly.  Today or tomorrow i'm planing to test direct connection to containerd exclude docker from this chain. and then i think we need make decision to use docker-shim or direct (cri-p

[2019-02-19 21:34] offlinehacker opened #252 "Inconsistent versioning"
`hetzner-kube` is kind of inconsistently versioned. It seems like `0.3.2-rc1` is latest release, but from tag name it seems like a release candidate, so i can't really deduce, which one RC and which one is latest stable release?

[2019-02-20 19:28] md2k opened #253 "[Iidea] Support multi-zone K8S Cluster"
Not sure if it comes already or not, but maybe it is good idea to think about multi-zone K8S cluster configuration where we can roll control-plane and workers specifying 2-3 different DCs what can increase high availability and redundancy ?

[2019-02-20 19:58] #83 closed

[2019-02-21 09:34] xetys commented on #252
hey, thanks for the feedback.

in fact, we just missed this step. We weren't sure the 0.3.2 is really stable. But it was, and we forgot to draw a 0.3.2

the same is happening with 0.4. As I was using 0.4 for some tests with success I started a release with 0.4 as the latest stable release. It will roll out soon, so you can use this

[2019-02-21 09:38] xetys commented on #253
AFAIK we do 2 things on this:

1. per default we use at least 2 DCs to provision hetzner kube nodes. In this case, the DCs are picked in Round Robin style, so both, workers and controller nodes are spreaded there. This means that the control plane in a HA setup are at least in 2 DCs by default
2. you may choose to install the hcloud-controller-manager addon, which automatically adds failure domain

[2019-02-21 15:49] md2k commented on #253
`hcloud-controller-manager` when i tried to deploy it - it has failed. not sure already what problem was, i'll check it again. if i not wrong, it was something about flannel, but not sure what exactly.

[2019-02-21 15:59] md2k commented on #87
@xetys , I'm, most probably, can help with this, since i have plans to use this tool for production. so going to do some investigation about how to achieve that. also maybe then it will be not bad idea to add functionality to select version of kubernetes to deploy (optional and maybe overthinking)

[2019-02-24 11:49] segator commented on #139
did you try hostgw instead of vxlan over wireguard?
The performance should be better I think.

[2019-02-24 16:19] #248 closed

[2019-02-24 16:20] md2k commented on #248
closed because GH-249 merged.

[2019-02-25 09:43] gentios commented on #58
@voron what is the status of your chart, since it's not in the kubeapps hub, are you still maintaining it ?

[2019-02-28 23:00] md2k commented on #253
yeah.. here another problem with multi-zone... floating IP bounded to DC... so it will be complicated to balance traffic and can create complications for ingress controllers :(
unless we can add additional parameter to enable floating IP per master or per worker (optional) to have static addresses which we can them use for dns and so on.
but yeah... this part with hetzner not easy at this moment.

[2019-03-09 10:50] Edke opened #256 "Hetzner Cloud Volumes support and problems with cluster extend after manual updates of nodes"
Hi everyone.

I'm a K8s newbie and evaluating different k8s solutions, came upon your awesome `hetzner-kube` as I'm a Hetzner Online really satisfied user.

Of course usage of Hetzner volumes would be welcome, I investigated and found https://github.com/hetznercloud/csi-driver and was surprised that no mention about project and it's integration.

After some hacking I got it working according to it

[2019-03-10 13:41] lakano opened #257 "cluster add-worker works but the new node is not returned by kubectl get nodes"
Hello,

I've just upgraded to 0.4 ( was on a very old version before, may be one year ago ), and I've added a new worker ( after a manual fix in my config.json to set the node_cidr value ).

After few minutes, I've got a success message ( « workers created successfully » ), but I can't find the new node in a « kubectl get nodes » from a master node, even after a reboot.

May be something haven't b

[2019-03-10 19:58] mavimo commented on #256
@Edke should be fixed here https://github.com/xetys/hetzner-kube/pull/258

[2019-03-11 12:40] mavimo commented on #256
@Edke fixed in [0.4.1](https://github.com/xetys/hetzner-kube/releases/tag/0.4.1)

[2019-03-11 12:40] #256 closed

[2019-03-11 20:55] Edke commented on #256
@mavimo I updated hetzner-kube and tried to recreate new cluster with it. Can't get hcloud-volumes to work though

hcloud-csi-nodes keep crashing

[code]

[2019-03-11 22:42] exocode commented on #58
@gentios I am back on track since one week (sadly had other projects on my task list). I saw that Cornelius's script was implemented into keepalive-vip. I have to spin up a cluster and have to reinvestigate (I sparsely remember what I did change 10 months ago. If you have some suggestions or ideas to move that chart forward, simply drop me a few lines.

[2019-03-12 00:07] md2k opened #259 "CSI Driver support"
Hi @mavimo  i think your last PR GH-258  for issue #256 not fully fix the problem.
We need add feature-gate options to kube-apiserver as well, otherwise CSI plugin failed with messages i described here (https://github.com/hetznercloud/csi-driver/issues/26)

[2019-03-12 07:48] mavimo commented on #259
@md2k I'll try to investigate it since I'm able to setup PVC on a new cluster created with the the code submitted in #258, I'll try to investigate the issue you reported ASAP, thx for feedback!

[2019-03-12 10:17] md2k commented on #259
i'll double check again today evening, maybe i'm overlooked something.

[2019-03-12 19:00] md2k commented on #259
Hi @mavimo  maybe you can advice what to do with CSI?
[code]
PVC and PV created... but it won't mount

[2019-03-12 19:01] md2k commented on #259
i found that nodes where csi filed to attach pv i not have such annotation: `csi.volume.kubernetes.io/nodeid: {"csi.hetzner.cloud":"xxxxxxx"}` , if i understood correctly they set by `hcloud-csi-node` ?

[2019-03-12 19:08] md2k commented on #259
Ok this one problem solved , template for Hetzner CSI nodes does not have toleration section and i'm use taints.
this one missing from pods spec:
[code]
to deploy daemonset to any node

[2019-03-13 08:33] mavimo commented on #259
@md2k currently implements it as plugin (I mean do not enable CSI on cluster setup but update it after cluster creation) is a bit tricky, maybe we can keep the current implementation on the "core" and create plugin to setup all needed configs, like:

 - CRD for `CSIDriver`
 - CRD for `CSINodeInfo`
 - Secret
 - Storage class
 - ...

WDYT?

[2019-03-13 19:11] md2k commented on #259
yeah for exactly current moment , true we need add it as plugin because otherwise we need re-create clusters with a tools, but probably after plugin will be in place we can set as flag, to enable plugin during roll-out for new clusters?

[2019-03-13 19:13] md2k commented on #259
i can take a look into, but as with previous PR from me, i'm a bit run-out of time this and next week (main work), after i'm planing back to PR and have few more ideas in mind.

[2019-03-14 01:23] kalbasit opened #260 "ldflags cannot change value of a constant"
https://github.com/xetys/hetzner-kube/blob/5f062d2ffe59aab8ae112a842b44f4ec4139efae/cmd/version.go#L10

^^ this should be `var version = "DEVELOP"` instead of a const as it cannot be set via ldflags.

[code]

[2019-03-14 13:38] mavimo commented on #260
@kalbasit nice catch, thx!

[2019-03-14 19:58] mavimo commented on #259
@md2k np, i'm also a bit busy and I have no time to support you on the other PR (sorry), I'll try to find some more time... I need a Tardis to find some more time 🕐

[2019-03-15 10:32] thomasletsch opened #262 "Addon cert-manager fails"
Hi,
I just installed a new k8 cluster and came across an error when trying to add the cert-manager:
2019/03/15 11:09:09 installing addon cert-manager
2019/03/15 11:09:12 run failed
command:helm install --name cert-manager --namespace ingress stable/cert-manager
stdout:Error: validation failed: [unable to recognize "": no matches for kind "Certificate" in version "certmanager.k8s.io/v1alpha1", unab

[2019-03-15 17:22] DerTiedemann opened #263 "Remove SelfHosted option as it was removed in k8s 1.13"
Have a look at the official [docs](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#self-hosting)

[2019-03-15 18:20] exocode commented on #262
I have something similar:

`hetzner-kube cluster addon install cert-manager --name my-cluster`

[code]

[2019-03-17 20:41] BitPhinix commented on #259
Did anyone find a solution to making the csi driver work?

[2019-03-20 08:29] suchwerk commented on #259
I guess adding
`extraArgs:
   feature-gates: CSINodeInfo=true,CSIDriverRegistry=true
`
in the ClusterConfiguration (v1beta1) would fix it.

[2019-03-20 09:32] mavimo commented on #259
@suchwerk thx, I'll try it and after test send a PR (I hope today)

[2019-03-20 09:55] suchwerk commented on #259
You should also ensure that the iscsid on the node(s) is enabled and started.

[2019-03-20 11:21] marcelloromani commented on #262
Indeed. I am unsure about why the chart doesn't handle this itself, but automating the CRDs creation / destruction with a terraform custom resource isn't hard at all and until they fixit upstream a perfectly fine workaround.

[2019-03-20 23:33] mavimo commented on #259
@suchwerk after few test I'm unable to find a solution, so need more investigation.

Adding:
[code]
seems ignore it.
Adding:
[code]
generate indicate that this feature gate are not supported:
[code]

I'll continue to investigate it on the next days, If you have time to test and do you find a working solution ping me!

[2019-03-21 06:40] suchwerk commented on #259
I forgot to mention that you should also add to each node:

[code]
and the ClusterConfiguration/KubeletConfiguration:

[code]

I am not sure if the KubletConfiguration is a kind of redundant.

[2019-03-21 06:47] mavimo commented on #259
@suchwerk I think it is (redundant), maybe I need to include feature gate using:
[code]
syntax, I'll try ASAP and keep you updated.

Thx to point me in the right direction (I hope :P )

[2019-03-21 09:03] suchwerk commented on #259
For me featureGates in the apiServer section did not work. (kubeadm.k8s.io/v1beta1) but:
[code]

[2019-03-21 10:12] suchwerk commented on #259
And also consider: In Kubernetes 1.14 (will be relased on Monday) CSI Topology support is build in.

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md#topology-representation-in-node-objects

[2019-03-21 14:49] #263 closed

[2019-03-22 22:00] codedge opened #265 "Authentication problem when creating new cluster"
Hi,

when I want to create a new cluster with `hetzner-kube cluster create --name stmr --ssh-key stmr` I get the the following error:

[code]

I installed _hetzner_kube_ via `go get -u github.com/xetys/hetzner-kube` on MacOS 10.14.3
I use a normal rsa key, 4096 bit.

Any idea?

[2019-03-25 21:54] cwoebker opened #266 "Unmet dependencies on cluster create (kubernetes-cni (= 0.6.0) but 0.7.5-00 is to be installed)"
I just tried setting up a Kubernetes cluster with Hetzner Cloud.
I ran into a similar issue as #195.

[code]

Possible related to: https://github.com/kubernetes/kubernetes/issues/75683 &  https://github.com/kubernetes/kubernetes/issues/75701

[2019-03-26 12:34] hyperbohlic commented on #266
@cwoebker Had the same issue. Quick fix is to change kubernetes-cni to kubernetes-cni=0.6.0-00 in /pkg/clustermanager/provision_node.go:238

[2019-03-30 17:38] xetys opened #267 "etcd management"
This issue just tracks a work in progress.

It is useful for HA clusters (both, level3 and level4) to have a backup and restore utility for etcd.

In basic:

[code]

This is even more useful, if you copy snapshots from other clusters to perform a migration or test stuff.

Will arrive as PR the next hours

[2019-03-30 23:04] xetys opened #269 "decouple creation progress into phases"
Currently, `hetzner-kube cluster create` starts the complete creation progress from start to the end. So if something breaks for some reason in the end, the user must start the progress and wait until all the previous steps will happen again.

That's why we need phases. With phases, the creation progress (and in future some more features) is split up into single parts, which can be run solely.

Th

[2019-03-30 23:12] xetys commented on #269
## Design Proposal

For this, a new `Phase` interface is introduced, which takes care of a single phase to run (and to decide, if it should run, depending on the cluster options). The basic phases for a cluster creation in the first version should be `ProvisionNodesPhase`, `NetworkSetupPhase`, `EtcdSetupPhase`, `InstallMastersPhase`, `SetupHighAvailabilityPhase` and `InstallWorkersPhase`.

These p

[2019-04-01 18:17] gedaiu opened #270 "how do you add new workers?"
I set up a cluster with 2 nodes for testing purposes, an now I want to add a new worker. How should I do this? I can't find any docs about this.

[2019-04-01 18:21] gedaiu commented on #266
I have the same issue here.

[2019-04-06 00:55] lakano opened #271 "cluster down because of ca.crt expiration of 1 year"
Hello,
I've installed k8s with hetzner-kube one year ago, but k8s certificates have expired.
I've made a HA installation (etcd on the masters)
I've also installed rook
I've tried many solutions has explained here ( https://github.com/kubernetes/kubeadm/issues/581 ) without success.
After a reboot, I've now this error:
`The connection to the server 10.0.1.11:6443 was refused - did you specify the r

[2019-04-06 11:10] kabudu commented on #271
I have also had this issue and tried a number of different solutions to no avail.

I'm strongly considering bootstrapping a new kubernetes cluster until I can find a viable solution for the future.

[2019-04-06 11:14] kabudu commented on #161
I am also interested in the ability to enable feature gates, specifically `RotateKubeletClientCertificate1=true`. Any ideas on how to do this when creating a new cluster with `hetzner-kube`?

[2019-04-06 11:30] lakano commented on #271
Thanks for your suggestion @kabudu , I don't really known how to do that, and as I have rook enabled for all data, is your suggestion will keep all my data please?

[2019-04-06 11:37] kabudu commented on #271
**Disclaimer:** It wasn't a suggestion per se, but more of a statement of what I was thinking of doing. ;)

I should probably re-phrase. To solve the problem in the interim, I'm thinking of a creating a *brand new* kubernetes cluster and migrating my workloads over. That works for me as I have backups of all my data on persistent storage.

If you wanted to do this, I guess you'd have to backup you

[2019-04-06 11:46] lakano commented on #271
In fact we have everyday backup + every day snapshot of each nodes & master, but it's totally useless because I can't connect to my container to extract data... I wasn't informed of the existence of the internal certificate, and wasn't known this could be expired and couldn't permit me to retrieve my data...

[2019-04-07 17:09] mavimo commented on #269
I really like this approach, that go in the same direction of `kubeadm init phase` IMHO we should consider two more points:

1. `hetzner-kube cluster phase network-setup {CLUSTER_NAME}` sounds "strange" since I suppose to put the cluster name before the action we should do (but I know is not easy, and I can't find any other tool doing something similar :D )
1. Commands should be idempotent so if a

[2019-04-08 14:32] xetys commented on #271
As I had the same problem I solved it by manually downloading a recent kubeadm binary (without installing it via `apt`) and doing

[code]

and it actually worked.

About rook. I really like the way how it works, but in the end, I am not a fan of having the storage cluster inside k8s in general. The reason is quite straight forward: if k8s dies, you got issues with your storage, too. I recommend us

[2019-04-08 14:38] xetys commented on #269
1. is hard to solve, as of the way of cobra is working. AFAIK.
2. I'm not agreeing fully on this one, as something could go wrong and you really want to do that again. During a recent migration, I used `hetzner-kube cluster phase install-masters` quite often. About the point with overwriting data, I decided to allow to give concrete phases additional flags. So the `etcd` phase has a `--keep-data`

[2019-04-08 14:47] #271 closed

[2019-04-09 19:48] mavimo commented on #269
@xetys thx on your time to read what I wrote:

1. I agree on complexity and skip it sounds good to me
1. The doubt I have it that add custom flag for each kind of behaviour on each step should be really hard for user since they need exactly to know what happen inside the step in order to use the appropriate flag, use "idempotency" by default allow user to change behaviour only when they need (and

[2019-04-09 21:04] kabudu commented on #271
@xetys Did you perform this operation on the master only, or on the nodes as well? I just tried it on my k8 master and it didn't work, and resulted in the same error as before, i.e. `The connection to the server 10.0.1.1:6443 was refused - did you specify the right host or port?`

I tried restarting the `kube-apiserver` container but that didn't change the outcome. :/ Any ideas?

[2019-04-10 09:12] xetys commented on #271
I did that on all masters and let the workers re join. One thing was that my monitoring still reported that the apiserver cert is expired, but it's actually not.

In you case, I would do the following:

Get the container id by

[code]

You need the actual apiserver, not the pause container and then look at the log using `docker logs`.

You might also check out `journalctl -xef -u kubelet`

[2019-04-10 09:14] xetys commented on #270
Closing this issue as no further questions are open here

[2019-04-10 09:14] #270 closed

[2019-04-12 14:58] johannwagner commented on #259
I did not experienced any issues with the Hetzner CSI driver. I just ssh'ed into the server, enabled feature gates in kubelet and kube-apiserver and followed the "Getting Started".

[2019-04-12 17:33] akoenig opened #273 "Possibility to create a cluster without worker nodes"
First of all: Thanks for the great tool! It helps a loooot! :slightly_smiling_face:

I have one question though: What do you think of adding an option to `cluster create` in which I can create a cluster without any assigned worker nodes? In my use case, I want to add the workers later.

[2019-04-18 00:18] mueggelsee opened #274 "Problems when creating a new cluster - datacenter not found"
Is this a bug? I am using https://github.com/xetys/hetzner-kube/releases/download/0.4.1/hetzner-kube-0.4.1-linux-amd64 and get the following error message:
[code]

[2019-04-18 00:23] mueggelsee opened #275 "Problems when creating a new cluster - unmet dependencies"
Is this a bug? Same release used as in #274: https://github.com/xetys/hetzner-kube/releases/download/0.4.1/hetzner-kube-0.4.1-linux-amd64

I get after a while the following message:
[code]

[2019-04-18 00:37] mueggelsee commented on #275
Looks like this is a duplicate of #266

[2019-04-18 00:37] #275 closed

[2019-04-28 21:36] andreymaznyak commented on #266
Any updates?

[2019-04-29 14:40] eaydogan commented on #266
I fixed this issue on my forked repo.
If anyone interest you can get fix that repo.

https://github.com/eaydogan/hetzner-kube

Here is the commit diff:

https://github.com/eaydogan/hetzner-kube/commit/9e688d7283d1c3f209a4a7c1a0ec8b6e7211aba9

<img width="934" alt="Screen Shot 2019-04-29 at 14 38 18" src="https://user-images.githubusercontent.com/1244956/56903684-6fd6b180-6aa5-11e9-8d39-570c6b57416

[2019-05-03 18:18] scasei commented on #266
Would prefer to put version strings of packages to install in a separate config file, that could be placed somewhere, if i want to overwrite compiled version strings. use case is, that i dont have to recompile the project.

[2019-05-07 09:52] #266 closed

[2019-05-07 09:52] #185 closed

[2019-05-07 09:52] #267 closed

[2019-05-07 09:52] #269 closed

[2019-05-07 09:54] #260 closed

[2019-05-07 11:07] scasei commented on #32
Would also suggest this as top prio. Because now you have the scenario that your tool will be used. It already creates cluster, exposed to world, which will never be upgraded.

[2019-05-07 15:07] fogs opened #276 "kubeadm : Depends: kubernetes-cni (= 0.6.0) but 0.7.5-00 is to be installed"
Installed today from https://github.com/xetys/hetzner-kube/releases/download/0.4.1/hetzner-kube-0.4.1-linux-amd64 and ran into dependency issues like this:

[code]

[2019-05-07 15:09] fogs commented on #276
Very quick, yet very dirty workaround: patching the release with
[code]

[2019-05-08 08:03] xetys commented on #276
duplicate of #266

That issue is already fixed at in the master branch and available in the 0.5.1-rc1 release.

[2019-05-08 08:04] xetys commented on #273
Did you try to set the count of worker nodes to 0 by

[code]

?

[2019-05-08 08:31] akoenig commented on #273
Yes, I did. It states that at least one worker node has to be defined.

[2019-05-08 09:58] xetys commented on #276
I tried this right now, and it still is present

[2019-05-13 22:11] xetys commented on #259
I tested this and it worked. Therefore closed by #272

[2019-05-13 22:11] #259 closed

[2019-05-16 12:32] fogs opened #278 "Feature request: add node names and IPs to /etc/hosts"
Use Case: as an administrator I want to connect to individual nodes of a cluster to check settings, apply upgrades or debug & fix errors.

Currently I have to find out the IP address of the node to connect via SSH. I would be very convenient to have the node names and their IP addresses in the /etc/hosts so that I can just `ssh blue-worker-02`

As a workaround I am currently auto-filling the /etc/

[2019-05-16 13:24] fogs commented on #278
Additionally adding the hostname of the node to the `.ssh/known_hosts` would help when using `parallel-ssh`

[2019-05-16 14:39] domains-index commented on #274
Same:
[code]

[2019-05-16 14:51] evahteev commented on #274
it looks like 'fsn1-dc8' is no longer in the list from:
https://api.hetzner.cloud/v1/datacenters
So workaround would be to specify --datacenters fsn1-dc14 (or  nbg1-dc3, hel1-dc2)

[2019-05-28 17:49] 5nafu opened #279 "Support for ssh-agent"
To be able to use the same ssh key on multiple computers, I have my key stored on a smartcard. Unfortunately, this does not leave me with an ssh private key file lying around on my disk and therefor, I cannot add my key to hetzner-kube.

As a workaround, I would need to create a separate key only for the management of my cluster and would need to copy this to all workstations in use.

It would be

[2019-06-06 09:24] mysticaltech opened #281 "OpenEBS or Hetzner-CSI?"
A question I have, in the article linked, you use OpenEBS, is it still useful if we use Hetzner CSI driver? Or are both compatible and working together? My ultimate goal is to install TiBD, a cloud native MySQL replacement. Thanks in advance!

[2019-06-09 13:26] virtuman opened #282 "Is there any particular reason that prometheus-operator release 0.19 is used and not current 0.30.x?"
Hello. Awesome tool! Thank you!

Quick question:
is there any reason not to upgrade to more current prometheus operator version?

[2019-06-17 07:50] Steinblock opened #283 "hetzner-kube cluster addon install openebs fails: storageclasses.storage.k8s.io "openebs-standard" not found"
See the console output

[code]

I think the `kubectl delete -f openebs-storageclass.yaml` needs a `--ignore-not-found=true`

[2019-06-25 11:47] gentios opened #284 "hetzner-kube cluster addon list command fails"
The command to list addons fails as below:

<img width="789" alt="Screen Shot 2019-06-25 at 1 43 19 PM" src="https://user-images.githubusercontent.com/10573204/60095699-730db700-974f-11e9-9b9a-55187298f0fc.png">

Environment:
 - macOS:  ```Mojave v.10.14.5```
 - Go version: ```go version go1.12.5 darwin/amd64```
 - hetzner-kube: ```DEVELOP```

[2019-06-27 07:58] dsteinberg111 commented on #281
Hi,
I tested the Hetzner-CSI. You can Use them both but the hetzner-csi will set "storageclass.kubernetes.io/is-default-class:
true" - so if you create a default Persistent Volume it will alway be hetzner-csi - but that is not the Problem.

The main problem is that hetzner-csi is bound to the datacenter. So this PVC cannot be mounted by Nodes outside of the Datacenter. Also It seems to me that it

[2019-06-27 08:04] dsteinberg111 commented on #283
I run into the same problem.
after I cleaned up everything from that broken install I took the standard helm-chart

helm install --namespace openebs -n openebs stable/openebs

[2019-06-27 11:33] gentios commented on #281
@dsteinberg111 why did u choose **openebs-jiva** vs **openebs-cstor**. I am not quite familiar with OpenEBS but they recommend the **openebs-cstor** engine.

[2019-06-27 13:03] gentios commented on #284
This bug is reproducible when you haven't setup the **cluster context** and **ssh-key.**

Closing issue

[2019-06-27 13:03] #284 closed

[2019-06-27 14:37] dsteinberg111 commented on #281
That was due to an mistake from me. I did not update the helm repo prior so I had openebs 0.9 and was wondering myself... but all worked. Now I updated the helm chart and the api- service from openebs is not working anymore. I got errors like: failed to apply resources: [CustomResourceDefinition.apiextensions.k8s.io "cstorpoolclusters.openebs.io" is invalid: spec.scope: Invalid value: "Cluster": f

[2019-06-27 15:10] gentios commented on #281
@dsteinberg111 I had also some problems with openebs, that's why I was thinking more to go with hetzner-csi.

 But since hetzner-kube deploys in more than 1 datacenter that would be a problem if the volumes wouldn't be accessible from nodes of other datacenters

[2019-07-02 14:12] Stummi opened #285 "kubeconfig: backup-option (-b) not working"
Kubeconfig states that it provides a -b option to backup an existing config file. But it seems to me that kubeconfig cmd/cluster_kubeconfig.go is not handling this option in any way

[2019-07-12 14:40] Baughn commented on #239
Is this still a concern? It's obviously a show-stopper for using hetzner-kube.

[2019-07-12 15:56] fogs opened #286 "Feature request: use private networks instead of wireguard VPN"
Hetzner recently introduced private networks to configure traffic between cloud VM instances. This feature is still marked as beta.

Giving users the choice between provider networks and the wireguard VPN on the hosts would be a nice feature for hetzner-kube though.

[2019-07-14 19:31] pschaub opened #287 "explain when to use --isolated-etcd"
I think the documentation should explain or link to an explanation for the feature `--isolated-etcd`.

When should I use it?

[2019-07-19 13:17] LKaemmerling commented on #286
FYI: We have opened a Beta for our Cloud Controller Manager with Networks support: https://github.com/hetznercloud/hcloud-cloud-controller-manager/issues/19#issuecomment-512850269
I guess when we can release our new provider, it would be really easy to implement this feature request, so please help us testing the provider :) Please keep in mind: **Do not run this beta software on production nodes*

[2019-07-27 08:08] mavimo commented on #286
@fogs @LKaemmerling I'm on it, are you interested on some kind of preview in order to test it? :)

[2019-07-29 05:52] LKaemmerling commented on #286
@mavimo sure :) I am available for testing :D

[2019-08-05 14:08] suchwerk commented on #286
Hey @mavimo I would like to test also :)

[2019-08-06 07:19] mavimo commented on #286
Hey, sorry I was a bit late on my tests.

There are some blocker related to the external worker (that will not be able to joint the VPN), I need to test if is possible to have a mixed network (VPN for external + Hetzner Network for internal nodes), but I think will add extra complexity that I'm not sure that can be handled; a secondo option is to drop external worker but I dunno how many user shou

[2019-08-06 07:21] LKaemmerling commented on #286
What about providing booth @mavimo (optional)?

When a user wants to use wireguard VPN he can use it (with external workers)
When a user wants to use our Networks he can use it (only with hcloud workers)

[2019-08-06 07:54] mavimo commented on #286
@LKaemmerling should be an option :)

Actually I'm not convinced from this options since:
 - it add more complexity to the project (we I think actually there is not enough work force to maintains "variant")
 - add extra cost to handle E2E tests (we are not spending too much to have it working but if we add a duplication we "duplicate" also the cost)
 - since adding external worker should be done a

[2019-08-08 14:41] mcadam commented on #286
Hey, any change to get a PR to try that out? I am going to start a new test cluster soon and could give some feedback too :)

[2019-08-13 07:15] xetys commented on #287
Usually `etcd` is installed using kubernetes static pods by `kubeadm` itself. For a high available setup it is highly recommended to create a multi-node etcd cluster with an odd count of nodes. So the smallest possible would span three nodes. While you still can use `kubeadm` for the etcd cluster, a solid alternative is installing etcd outside of kubernetes, which is quite straight forward.

There

[2019-09-21 23:37] kiloreux opened #288 "Is this project still maintained?"
Last commit was 5 months ago. And pull requests aren't being merged nor reviewed. Just want to know about a real idea on what is going on if it's no longer maintained?

[2019-10-21 14:00] tckb commented on #236
same issue for me too. For me, it says ```parse key failed:ssh: cannot decode encrypted private keysparse key failed:ssh: cannot decode encrypted private keysparse key failed:ssh: cannot decode encrypted private keys2019/10/21 15:44:14 parse key failed:ssh: cannot decode encrypted private keys``` latest version from master branch.

anyone has a fork that works?

[2019-10-21 19:39] mavimo commented on #236
@tckb which key are you using RSA DSA ECDSA?

[2019-10-21 20:41] tckb commented on #187
I am trying to set this up. having an external LoadBalancer is absolutely essential for me. Anyone has successful set up with a two node cluster ? @EamonKeane

[2019-10-21 20:42] tckb commented on #236
@mavimo I tried with RSA and ECDSA both failed. It seems to work with only password-less key

[2019-10-21 21:17] czimnick commented on #187
https://community.hetzner.com/tutorials/install-kubernetes-cluster/

A tutorial with metallb/kuberbetes on hetzner cloud maybe helpful

[2019-10-28 12:01] tckb opened #289 "Unable to install metric-server"
Hi,

I am trying to install metric server and perhaps, due to the communication issues, the metric-server is not able to collect the metrics.

the error:

[code]

here's my configuration:

[code]

Is there something I'm missing ?

[2019-10-28 12:02] tckb commented on #80
@voron  did you find a way to install metrics-server ? heapster is EOL

[2019-10-28 12:03] tckb commented on #289
Oops, took a while to populate. the above config worked. closing this issue

[2019-10-28 12:03] #289 closed

[2019-10-28 12:28] voron commented on #80
@tckb no, I didn't dig in this way.

[2019-10-28 12:30] tckb commented on #80
if you still want to, you can look into issue https://github.com/xetys/hetzner-kube/issues/289

[2019-11-07 11:24] willipreuk commented on #288
I've written xetys an email, maybe he will transfer the ownership to someone.

[2019-11-07 11:33] xetys commented on #288
hey folks,

Indeed, I had time issues all around this year.

I'll try to find a way of bringing activity back to this project. Sorry for the delays!

[2019-11-07 11:39] willipreuk commented on #288
Thank you!

[2019-11-09 00:25] #287 closed

[2019-11-09 10:26] xetys commented on #282
No, it's just a lack of time to maintain all add-ons

Feel free to contribute an update

[2019-11-09 10:29] xetys commented on #274
This issue should be solved finally by #290 as we ask now for the data centers using API, if there is a context

[2019-11-09 10:29] #274 closed

[2019-11-09 21:03] xetys commented on #288
for now, I'd say: yes, it's still maintained :)

[2019-11-09 21:03] #288 closed

[2019-11-12 14:08] drallgood opened #294 "Installing "hcloud-controller-manager" fails"
[code]

And indeed I don't see flannel anywhere.

[2019-11-12 23:04] #165 closed

[2019-11-12 23:08] xetys commented on #236
still present?

[2019-11-14 10:18] tckb commented on #236
@xetys last time I created my cluster it still didn't work. I am currently working with password-less key for my cluster

[2019-11-14 10:34] xetys commented on #236
When was the last time? Still present with v0.5.0 ?

[2019-11-14 10:43] tckb commented on #236
I believe this was the latest version, I used the latest version from master branch I think.

[2019-11-14 11:01] xetys commented on #236
Very strange... Do you use any specific kind of SSH keys? Operation system?

[2019-11-14 12:31] tckb commented on #236
@xetys nothing special. Although, as I mentioned, the version that I used is a little bit old. I need to check and update the version with the one in the master. I am currently on macOS

[2019-11-14 17:18] mavimo commented on #252
@xetys I think we can close this issue, right?

[2019-11-14 21:00] xetys commented on #252
Sure. Finally we've got a stable 0.5 and stuff :joy:

[2019-11-14 21:00] #252 closed

[2019-11-21 13:14] celevra commented on #265
same problem here

[2019-11-21 13:27] alexzimmer96 commented on #294
@drallgood
Should be fixed with the next release. If you want to try the fix you can build the tool by yourself and install the addon.

[2019-11-21 13:31] alexzimmer96 commented on #265
The key location is persisted into the ~/.hetzner-kube/config.json as a relative location. Did you maybe run the create-command from another folder then you run the command to add the SSH-Key?

[2019-11-21 13:33] celevra commented on #265
no

[code]

[2019-12-01 18:43] koehn commented on #281
You can specify the datacenter(s) to use with the `--datacenters` option.

[2019-12-05 11:43] AndiDog opened #300 "Shell completion creates empty log file"
With v0.5.1:
[code]

I'm including the completion from bashrc, so whenever I split my terminal, the current working directory gets an empty hetzner.log file.

[2019-12-05 12:28] xetys commented on #300
this is indirect because of #20

[2019-12-05 12:35] xetys commented on #300
closed by 49203d500aed94a449061c532c28820b9dddabca

[2019-12-05 12:35] #300 closed

[2019-12-11 11:43] tholu opened #301 "Kubernetes dashboard addon needs to be updated to 2.0 beta to support Kubernetes 1.16"
The current version of Kubernetes dashboard v1.10.1 in the addons does not work with Kubernetes 1.16, it needs 2.0.0 (current release https://github.com/kubernetes/dashboard/releases/tag/v2.0.0-beta8).

Caution: The dashboard namespace has changed to `kubernetes-dashboard`, so small changes are required for the authentication setup as well.

[2019-12-11 11:44] tholu commented on #281
What are you guys currently using? I'm right now thinking about what storage option to choose as a best-practice.

[2019-12-11 13:02] tholu commented on #283
I'm still running into this error with Kubernetes v1.16.3 on latest hetzner-kube.

@dsteinberg111 How did you do the cleanup?

[2019-12-11 13:21] tholu opened #302 "OpenEBS addon requirement: iSCSI"
The OpenEBS addon requires iSCSI to be running on the worker nodes: https://docs.openebs.io/docs/next/prerequisites.html

I already created my cluster. How can I now make sure, that all my worked nodes have this service installed and running? And how do you make sure, that your packages on the worker nodes are up-to-date (basically regularly running `apt-get upgrade`)?

[2019-12-11 13:30] tholu commented on #262
Current status:

[code]

Kubernetes version:

[code]

[2019-12-11 13:32] tholu commented on #239
I recently installed a new Kubernetes cluster with `hetzner-kube` and got version v1.16.3, so this issue should be closed.

[2019-12-11 13:58] mavimo commented on #239
@tholu thx for your feedback!

[2019-12-11 13:58] #239 closed

[2019-12-11 14:09] thomasletsch commented on #262
Yes it is a pity that it is no longer working. But on the other hand installing the cert manager with helm isn't that hard neither. The following is for cert manager v11:
`    kubectl apply --validate=false -f https://raw.githubusercontent.com/jetstack/cert-manager/release-0.11/deploy/manifests/00-crds.yaml
    kubectl create namespace cert-manager
    helm repo add jetstack https://charts.jetstac

[2019-12-11 16:59] koehn commented on #281
I went with all my nodes in a single datacenter, and use the hetzner CSI module for PVC. I have a relatively simple cluster (5 x 8GB/2CPU) with a few dozen pods. I use velero/restic for backups in Wasabi, retaining them for ninety days (since Wasabi charges you for ninety days of storage, and at $0.0059USD/GB, it's pretty cheap anyway).

As much as possible I put storage like Nextcloud into Wasabi

[2019-12-11 17:15] tholu commented on #262
@thomasletsch Thanks! I guess my error is due to API compatibility changes in Kubernetes 1.16 and different to previous errors reported. With your suggestions, it should be trivial to fix the addon as well.

[2019-12-11 18:04] tholu opened #303 "Addons: How to differentiate between Kubernetes versions?"
With Kubernetes 1.16 there were some incompatible API changes that break addons, see e.g. #262.

I checked the [Addons Documentation](https://github.com/xetys/hetzner-kube/blob/master/docs/cluster-addons.md), and the source code of the existing addons, but I have not found any check for the Kubernetes version there.

To fix those addons and to support Kubernetes 1.16 as well as previous versions s

[2019-12-13 15:10] kozy opened #304 "add-worker not joining node to cluster"
Hi and thanks for the useful tool!

This is related or duplicate of #257.

It seems that `cluster add-worker` returns successful after a while but the node never joined the cluster.

Trying the join command manually on the node:

`kubeadm join 10.0.1.1:6443 --token xxx.xxxxxxx --discovery-token-ca-cert-hash sha256:d3359f<snip>`

results in error:

`Failed to connect to API Server "10.0.1.1:6443":

[2019-12-16 13:01] xetys commented on #301
hey,

would you like to PR this?

[2019-12-16 13:05] xetys commented on #302
One solution for the moment is the cloud-init approach, to install iSCSI.

Actually we should add an installation routine to the OpenEBS addon as well. About the upgrade question, ubuntu would usually upgrade all packages which are not marked to be kept.

Would you like to propose a PR for this here as well?

[2019-12-16 13:08] xetys commented on #303
The hetzner-kube provided addons have the purpose to install these addons closer to the hetzner related cluster over the general setup. See hcloud-manager or custom rook tweaks etc.

So yes, there is a plan for supporting the necessary addons to make a smooth experience

[2019-12-16 13:09] tholu commented on #303
@xetys That's great! Any idea how to design the Kubernetes version switch then?

[2019-12-16 14:41] xetys commented on #303
To be honest, I don't have a clear idea at the moment. Another related topic is, that as of 1.15 the upgrade procedure from `kubeadm` got so straight forward, so it makes sense to introduce upgrade functionality and then we will have to deal with several versions anyways.

[2019-12-16 19:49] xetys commented on #294
As the release is out, I close this

[2019-12-16 19:49] #294 closed

[2019-12-17 09:23] tholu commented on #301
Sure, this is depending on #303.

[2019-12-17 09:25] tholu commented on #302
I have several questions here, sorry I'm quite new to Kubernetes and hetzner-kube in general.

Do I have to recreate the nodes or can I install it into the running cluster via cloud-init somehow?

When exactly would this be happening? Can I trigger this somehow?

I'll gladly do the PR, once I have a better understanding of the best practices here.

[2019-12-18 16:12] xetys commented on #302
In the end, you just can SSH to your nodes and install iSCSI in your own. There is no need to go via cloud-init afterwards.

The upgrade happens when you ‘apt update && apt upgrade‘

The best practice for this issue would be to install iSCSI during add-on installation of openebs, and in the best case uninstall it when running the remove procedure if the add-on

[2019-12-19 09:22] tholu commented on #302
@xetys Manually ssh-ing into the nodes and installing packages seems like a last-resort solution. Of course this works, but it would be great to automate this more. How are you making sure that your nodes don't use outdated software?

[2019-12-24 14:10] MattiasGees opened #306 "Getting 2 different Kubernetes versions"
When doing an install from the current master branch, it mixes 2 Kubernetes versions.

When doing `kubectl version` I am getting the following:

[code]

But when doing `kubectl get nodes` I am getting this
[code]

I checked the kubeadm and kubectl package on the master server and they are both `1.16.2-00`. I think it has to do with `kubernetesVersion: stable` in `/root/master-config.yaml` when doi

[2019-12-26 14:15] xetys commented on #306
I think you pointed it out correctly. Do you want to PR a fix for this?

[2019-12-27 09:30] MattiasGees commented on #306
yes, I will have a look at fixing that. Trying to also think about https://github.com/xetys/hetzner-kube/issues/87 and how this fix could help towards solving this.

[2019-12-28 10:36] MattiasGees commented on #87
There is now a `kubeadm upgrade apply <kubernetes-versio>`. I think those can be implemented into the current workflow. I am thinking about some possible designs on how to do this with `hetzner-kube` and will keep this issue updated with some ideas.

More [information](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-upgrade/) about it.

[2019-12-30 19:23] kozy commented on #304
this project is really nice in its simplicity to use but maybe a bit defunct

[2019-12-30 19:23] #304 closed